<div class="flex flex-col w-full overflow-hidden">
  <div
    class="flex flex-col justify-around lg:flex-row lg:justify-center w-full flex-nowrap items-center min-h-[90vh]"
  >
    <div class="scale-90 lg:scale-100 lg:w-6/12">
      <h1
        class="text-5xl lg:text-[56px] font-bold text-center flex flex-col justify-center text-slate-800"
      >
        <span> Regala un effetto </span>
        <div class="neon">
          <b class="z-0"> WOW </b> <b class="blink z-0">!</b>
        </div>
        <span> ai tuoi clienti. </span>
      </h1>

      <h2 class="text-center lg:text-xl mt-2">Modernizza il tuo Networking</h2>
    </div>

    <video
      #SplashVideo
      src="/assets/images/splash.mp4"
      muted
      alt=""
      autoplay
      loop
      class="w-full h-full lg:w-5/12 lg:h-4/6 object-contain pointer-events-none"
    ></video>
  </div>
</div>
