<div class="flex flex-col min-h-[100vh] w-full overflow-hidden">
  <div
    class="flex flex-col justify-start lg:flex-row lg:justify-around w-full flex-nowrap items-center lg:px-5"
  >
    <div class="scale-90 lg:scale-100">
      <h1
        class="text-2xl lg:text-[56px] font-bold text-center pt-20 whitespace-nowrap"
      >
        Regala un effetto
        <div class="neon">
          <b> WOW <span class="blink">!</span> </b>
        </div>
        ai tuoi clienti.
      </h1>

      <h2 class="text-center text-gray-300 lg:text-xl">
        Modernizza il tuo Networking
      </h2>
    </div>

    <video
      src="/assets/images/splash.mp4"
      alt=""
      autoplay
      loop
      class="h-full w-full lg:w-6/12 object-contain"
    ></video>
  </div>
</div>
