<div
  class="modal-container fixed top-0"
  (click)="closeDropzone()"
  *ngIf="isDropzoneOpen"
>
  <div>
    <div class="flex justify-end w-full text-xl cursor-pointer">&times;</div>
    <div (click)="$event.stopPropagation()" class="modal-content">
      <div class="modal-icon">
        <div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="p-2"
            >
              <path
                fill-rule="evenodd"
                d="M20.599 1.5c-.376 0-.743.111-1.055.32l-5.08 3.385a18.747 18.747 0 0 0-3.471 2.987 10.04 10.04 0 0 1 4.815 4.815 18.748 18.748 0 0 0 2.987-3.472l3.386-5.079A1.902 1.902 0 0 0 20.599 1.5Zm-8.3 14.025a18.76 18.76 0 0 0 1.896-1.207 8.026 8.026 0 0 0-4.513-4.513A18.75 18.75 0 0 0 8.475 11.7l-.278.5a5.26 5.26 0 0 1 3.601 3.602l.502-.278ZM6.75 13.5A3.75 3.75 0 0 0 3 17.25a1.5 1.5 0 0 1-1.601 1.497.75.75 0 0 0-.7 1.123 5.25 5.25 0 0 0 9.8-2.62 3.75 3.75 0 0 0-3.75-3.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
        <h2>Aggiungi il tuo design</h2>
        <p>
          Carica un'immagine per rendere le tue tessere Notify veramente tue!
        </p>

        <div class="divider"></div>
      </div>
      <div class="my-5 w-full">
        <notify-upload
          class="w-full h-full"
          acceptedFiles="image/*"
          (fileChanged)="
            selectedCard = {
              title: 'Custom',
              path: $event.blob?.toString() || '',
              thumb: ''
            };
            closeDropzone()
          "
        ></notify-upload>
      </div>
      <div class="p-2 font-bold">
        Prima di caricare l'immagine, assicurati che rispetti le nostre
        <a target="_blank" href="/linee-guida" class="link text-blue-400"
          >linee guida</a
        >!
      </div>
      <small class="text-center"
        >L'immagine è solo a scopo dimostativo e commerciale, in fase d'ordine
        sarà necessario fornire i file vettoriali o effetturare una consulenza
        con il nostro grafico</small
      >
    </div>
  </div>
</div>

<div class="max-content-width flex !flex-col items-center">
  <notify-top-nav class="w-full"></notify-top-nav>

  <div
    class="website-section space-y-5 w-full h-[90vh]"
    (mousemove)="rotateItem($event, 70, MainCardContainer)"
    (mouseleave)="resetItem($event, MainCardContainer)"
  >
    <h1 class="section-title">Dress the part 😎</h1>
    <p class="section-subtitle">
      è importante scegliere la carta giusta per la tua azienda,
      <br />
      scegli un design che ti rappresenti o caricane uno personalizzato e noi ci
      occuperemo del resto
      <br />
    </p>

    <div
      class="flex flex-col justify-center items-center h-fit w-full lg:w-7/12 2xl:w-6/12 p-5"
    >
      <div class="nfc-card" #MainCardContainer>
        <img
          class="nfc-card lg:hover:brightness-125 smooth"
          [src]="selectedCard.path"
          [title]="selectedCard.title"
        />
      </div>
    </div>

    <div
      class="flex justify-center w-full relative items-center space-x-5 md:space-x-10"
    >
      @for (item of cards; track item.theme) {
      <ng-container
        [ngTemplateOutlet]="CardSelector"
        [ngTemplateOutletContext]="{ item }"
      ></ng-container>
      }
      <button
        (click)="isDropzoneOpen = !isDropzoneOpen"
        class="mask mask-squircle w-12 h-12 bg-gray-200 text-black items-center flex justify-center hover:scale-110 smooth"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M20.599 1.5c-.376 0-.743.111-1.055.32l-5.08 3.385a18.747 18.747 0 0 0-3.471 2.987 10.04 10.04 0 0 1 4.815 4.815 18.748 18.748 0 0 0 2.987-3.472l3.386-5.079A1.902 1.902 0 0 0 20.599 1.5Zm-8.3 14.025a18.76 18.76 0 0 0 1.896-1.207 8.026 8.026 0 0 0-4.513-4.513A18.75 18.75 0 0 0 8.475 11.7l-.278.5a5.26 5.26 0 0 1 3.601 3.602l.502-.278ZM6.75 13.5A3.75 3.75 0 0 0 3 17.25a1.5 1.5 0 0 1-1.601 1.497.75.75 0 0 0-.7 1.123 5.25 5.25 0 0 0 9.8-2.62 3.75 3.75 0 0 0-3.75-3.75Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="w-full">
    <div class="divider"></div>
    <notify-contact-us
      title="Soddisfatto dalla tua scelta?"
      class="h-full w-full"
      [extraData]="[
        {
          title: 'La tua tessera preferita',
          content: selectedCard.path,
          type: 'file'
        }
      ]"
    >
    </notify-contact-us>
  </div>
</div>

<ng-template #CardSelector let-item="item">
  <button
    class="w-12 h-12 smooth flex flex-col group/card lg:hover:scale-110 lg:focus-within:hover:scale-100"
    tabindex="0"
  >
    <div
      class="hidden group-focus-within/card:flex flex-col justify-end items-center w-12 absolute h-full bottom-[4rem] space-y-2"
      tabindex="0"
    >
      @for (card of item.items; track $index) {
      <img
        tabindex="0"
        [src]="card.thumb"
        class="mask mask-squircle w-10 h-10 hover:scale-110 cursor-pointer smooth"
        [draggable]="false"
        #ThisCard
        (click)="selectedCard = card; ThisCard.blur()"
      />
      }
    </div>
    <img
      [src]="item.thumb"
      class="mask mask-squircle w-12 h-12 saturate-0"
      tabindex="0"
    />
  </button>
</ng-template>
