<div
  class="w-full relative min-h-[90vh] flex flex-col py-10 items-center overflow-hidden group/cards-container bg-gray-100 bg-dotted-spacing-12 bg-dotted-cyan-500"
>
  <div
    class="section pointer-events-none group-focus-within/cards-container:blur-md group-focus-within/cards-container:opacity-50 smooth flex"
  >
    <h1 class="section-title">Cosa posso fare con Notify? 🤔</h1>
    <h2 class="section-subtitle">
      Scopri le funzionalità che rendono Notify unico e innovativo 🚀
    </h2>
  </div>
  <div
    class="flex w-96 min-h-[40vh] justify-center items-end translate-y-2 absolute bottom-16 scale-[60%] 2xl:scale-100"
  >
    @for (item of features; track $index) {
    <button
      class="card {{
        item.color
      }} hover:brightness-110 smooth focus:!m-0 focus:bottom-auto focus:!rotate-0 focus:!w-[24rem] focus:!h-[40rem] focus:z-20 focus:scale-125 focus:-translate-y-[5rem] focus:!shadow-2xl focus:pointer-events-none group/card "
      [ngStyle]="{
        transform: 'rotate(' + item.rotation + 'deg)',
        'margin-left': item.marginLeft + 'rem',
        'margin-right': item.marginRight + 'rem',
        'margin-bottom': item.marginBottom + 'rem',
        'align-items': item.justify
      }"
    >
      <notify-svg-box-icon
        [icon]="item.icon"
        class="p-2 ring-1 ring-current rounded m-2"
        [size]="$any('[100%]')"
      ></notify-svg-box-icon>

      <p
        class="w-full px-5 font-medium text-sm my-2.5 text-center group-focus/card:px-10 group-focus/card:my-5 group-focus/card:text-3xl drop-shadow-md smooth"
      >
        {{ item.title }}
      </p>
      <div class="divider"></div>
      <p
        class="w-full px-5 font-medium text-xs h-full text-center group-focus/card:px-10 group-focus/card:leading-loose group-focus/card:text-2xl drop-shadow-md leading-loose smooth"
      >
        {{ item.description }}
      </p>
    </button>
    }
  </div>
</div>
