<div
  class="w-full relative min-h-[80vh] flex flex-col lg:justify-center items-center overflow-hidden group/cards-container bg-current/20 bg-dotted-spacing-12 bg-dotted-gray-500"
>
  <div
    class="website-section pointer-events-none group-focus-within/cards-container:blur group-focus-within/cards-container:opacity-50 smooth flex my-5"
  >
    <h1 class="section-title">Cosa posso fare con Notify? 🤔</h1>
    <h2 class="section-subtitle">
      Scopri le funzionalità che rendono Notify unico e innovativo 🚀
    </h2>
  </div>
  <div
    class="w-full items-end absolute h-full lg:my-auto flex flex-col justify-center"
  >
    @for (item of features; track $index) {
    <button
      tabindex="0"
      class="card {{
        item.color
      }}  hover:!translate-x-10 hover:!-translate-y-2 hover:!rotate-[84deg] rotate-90 smooth focus:!mt-0 focus:!bottom-0 md:focus:!bottom-auto focus:!left-[0%] lg:focus:!left-[35%] focus:!rotate-0 focus:!w-[24rem] focus:!h-[40rem] focus:scale-75  lg:focus:scale-100  2xl:focus:scale-125 focus:z-20  lg:focus:!shadow-lg focus:pointer-events-none group/card absolute my-auto"
      [ngStyle]="{
        left: item.left + 'rem',
        'margin-top': item.bottom + 'rem',
        'align-items': item.justify
      }"
    >
      <notify-svg-box-icon
        [icon]="item.icon"
        class="p-2 ring-1 ring-current rounded m-2"
        [size]="$any('[100%]')"
      ></notify-svg-box-icon>

      <p
        class="w-full px-5 font-bold text-sm my-2.5 text-center group-focus/card:px-5 group-focus/card:my-5 group-focus/card:text-3xl drop-shadow-md smooth font-kodeMono"
        [innerHTML]="item.title"
      ></p>

      <div class="divider"></div>

      <p
        class="w-full text-xs h-full text-start px-5 group-focus/card:text-lg drop-shadow-md smooth whitespace-pre-line font-light"
        [innerHTML]="item.description"
      ></p>
    </button>
    }
  </div>
</div>
