<div
  class="w-full bg-primary-600 relative min-h-[30rem] flex flex-col justify-center items-center p-10 bg-dotted-spacing-12 bg-dotted-gray-200/40"
>
  <h1 class="text-2xl md:text-5xl font-bold text-white text-center">
    Ma cosa posso fare con Notify? 🤔
  </h1>
  <h2 class="md:text-2xl font-bold text-gray-300 text-center">
    Beh, per esempio puoi...
  </h2>

  <div
    class="flex flex-col w-full md:px-10 items-center 2xl:w-8/12 py-5"
    id="cardWrapper"
  >
    @for (item of features; track $index) {
    <div
      id="card"
      class="w-full flex md:m-4 my-6 h-56 justify-center"
      [ngClass]="{
        'lg:justify-start animate__fadeInLeft': $index % 2 === 0,
        'lg:justify-end animate__fadeInRight': $index % 2 !== 0
      }"
    >
      <notify-feature-card
        [feature]="item"
        class="md:w-8/12"
      ></notify-feature-card>
    </div>
    }
  </div>

  <h2 class="md:text-2xl font-bold text-gray-300 text-center mt-5">
    E molto altro ancora!
  </h2>
</div>
