<div
  class="size-full min-h-screen bg-ocra-background text-ocra-primary font-figtree overflow-hidden flex flex-col justify-center page-grid"
>
  <div class="max-content-width">
    <div class="website-section justify-center !h-full">
      <img
        src="/assets/ocra/ocra.svg"
        class="size-52 lg:size-72 mb-5 smooth intersect-animation intersect-once intersect:animate-fade-down pointer-events-none"
      />
      <h1
        class="section-title title-current intersect-animation intersect-once intersect:animate-fade-down !animate-delay-150"
        id="profile-builder"
      >
        <span> Grazie per aver scelto <b>ocr.a</b>! </span>
      </h1>
      <h2
        class="section-subtitle subtitle-current !mt-5 intersect-animation intersect-once intersect:animate-fade-down !animate-delay-300"
      >
        La nostra app è ancora in fase di sviluppo, ma sarai tra i primi a
        sapere quando sarà disponibile! <br />
        Ti aggiorneremo presto con tutte le novità e ti avviseremo appena potrai
        provare ocr.a in anteprima.
        <br />
        Nel frattempo, dai un'occhiata a
        <a href="/" class="underline">Notify</a> se non l'hai già fatto! 🚀
      </h2>
    </div>
  </div>
</div>
