<div class="w-screen h-lscreen bg-white">
  <div class="max-content-width bg-blue-50/50 px-5">
    <div class="w-screen h-lscreen">
      <div class="website-section h-full">
        <div
          class="z-10 text-wrap w-full flex flex-col justify-center items-center h-full space-y-10"
        >
          <div class="relative flex flex-col justify-center items-center">
            <div
              class="size-20 aspect-square bg-green-400/30 top-0 rounded-full z-0"
            ></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-14 text-green-400 z-10 absolute"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <h1 class="section-title text-black">Ordine inviato!</h1>
          <div class="divider"></div>
          <div class="flex flex-col space-y-4">
            <p class="section-subtitle">
              Il tuo ordine è stato effettuato con successo. <br />Controlla la
              tua email nei prossimi giorni per aggiornamenti <br />
              sullo stato del tuo ordine!<br /><br />
              Grazie per aver scelto Notify.
            </p>
            <div class="flex flex-col space-y-4">
              <a
                routerLink="/"
                class="btn btn-secondary text-white w-full"
                data-theme="notifytheme"
                >Torna alla home</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
