<div class="max-content-width">
  <div class="website-section lg:!flex-row">
    <img
      src="/assets/images/stores.webp"
      alt="Available Stores"
      class="w-10/12 lg:w-6/12"
    />

    <div class="flex flex-col">
      <div class="space-y-4">
        <h1 class="section-title lg:!text-start">Completa autonomia.</h1>
        <h2 class="section-subtitle lg:!text-start !px-0">
          Su Notify, ogni membro del tuo team ha a disposizione il proprio
          sub-account per gestire in autonomia le proprie attività. È possibile
          accedervi in versione web (con funzioni limitate) o scaricando la
          nostra app per dispositivi iOS e Android.
        </h2>
      </div>

      <div
        class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-5 lg:w-full lg:h-40 mt-10"
      >
        <a
          class="intersect:animate-fade-down intersect-once intersect:animate-delay-100"
          href="https://apps.apple.com/it/app/notify-italia/id6479890530"
          target="_blank"
        >
          <img
            src="/assets/images/app-store.svg"
            alt="App store"
            class="store-btn smooth smooth-fastest"
          />
        </a>
        <a
          class="intersect:animate-fade-down intersect-once intersect:animate-delay-200"
          href="https://play.google.com/store/apps/details?id=org.notify.agent.client&pli=1"
          target="_blank"
        >
          <img
            src="/assets/images/google-play.png"
            alt="Google Play"
            class="store-btn smooth smooth-fastest"
          />
        </a>
        <a
          class="intersect:animate-fade-down intersect-once intersect:animate-delay-300"
          href="https://app.notifyapp.it"
          target="_blank"
        >
          <img
            src="/assets/images/web.png"
            alt="PWA"
            class="store-btn smooth smooth-fastest"
          />
        </a>
      </div>
    </div>
  </div>
</div>
