<div class="max-content-width">
  <div class="w-full flex flex-col justify-center items-center h-full">
    <div class="slider">
      @for (item of partners; track $index) {
      <button
        class="slide smooth cursor-pointer intersect:animate-jump-in animate-duration-500 animate-ease-out animate-normal"
        [title]="item.title"
        (click)="showProfile(item.profile)"
      >
        <img
          [src]="item.image"
          alt=""
          class=" {{ item.class }} h-24 w-24 object-contain shrink-0"
        />
        <h1
          class="text-black/40 text-lg tracking-tighter font-work font-medium ites whitespace-nowrap"
        >
          <!-- {{ item.title }} -->
        </h1>
      </button>
      }
    </div>
  </div>
</div>
