<div class="flex flex-col lg:flex-row font-work min-h-screen overflow-hidden">
  <notify-nav
    class="lg:my-auto lg:scale-95 box !rounded-xl z-[999]"
    [topItems]="nav"
    [bottomItems]="bottomNav"
    [versionInfo]="currentVersionInfo"
    (versionClick)="handleVersionClick($event)"
    subtitle=""
  ></notify-nav>

  <div
    class="p-4 lg:p-2 lg:py-4 h-full lg:max-h-screen lg:w-screen overflow-x-hidden"
    [class.mt-safe]="capacitor.isNative"
  >
    <router-outlet class="w-full"></router-outlet>
  </div>
</div>
