<div class="flex flex-col lg:flex-row font-work min-h-screen overflow-hidden">
  <notify-nav
    class="lg:scale-[0.965] lg:px-2 z-[999]"
    [topItems]="nav"
    [bottomItems]="bottomNav"
    [versionInfo]="{
      currentVersion: currentVersionLabel,
      currentVersionDate: currentVersionDate,
    
    }"
    (versionClick)="handleVersionClick()"
    subtitle=""
  ></notify-nav>

  <div
    class="pr-3 2xl:p-1 h-full lg:max-h-screen lg:w-screen overflow-x-hidden"
    [class.mt-safe]="capacitor.isNative"
  >
    <router-outlet class="w-full"></router-outlet>
  </div>
</div>
