<div
  class="h-[100svh] size-full flex flex-col justify-center items-center relative font-work overflow-hidden"
  [ngStyle]="{ 'background-color': profileColors?.background }"
>
  @if (profile$ | async; as p) {

  <!-- SAVE CONTACT -->
  <notify-floating-button
    *ngIf="
      !(p.advancedProfile?.enabled
        ? p.advancedProfile?.pageSettings?.hideContactSave
        : false)
    "
    (click)="saveContact(p)"
    [offsets]="{
      bottom: '1.25rem',
      right: '1.25rem'
    }"
    [label]="{
      lg: 'Scarica contatto',
      base: 'Salva'
    }"
    [iconPath]="[
      'M19 1H8.99C7.89 1 7 1.9 7 3h10c1.1 0 2 .9 2 2v13l2 1V3c0-1.1-.9-2-2-2Z',
      'M5 5h10c1.1 0 2 .9 2 2v16l-7-3-7 3V7c0-1.1.9-2 2-2Z'
    ]"
  ></notify-floating-button>

  <!-- FORCE CLOSE COMPANY -->
  <notify-floating-button
    *ngIf="isAgent(p)"
    (click)="forceHideCompanyProfile()"
    [ngClass]="{
      'opacity-100 pointer-events-auto': companyIsVisible
    }"
    class="pointer-events-none smooth opacity-0"
    [offsets]="{
      bottom: '1.75rem',
      right: !isMobile ? '14rem' : '9rem'
    }"
    [small]="true"
    [iconRenderingMode]="'stroke'"
    [iconPath]="['M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3']"
  ></notify-floating-button>

  @if (isAgent(p)) {
  <div class="content-container backdrop-brightness-90">
    <!-- PLAYER OUTLET -->
    <ng-container
      [ngTemplateOutlet]="PlayerContent"
      [ngTemplateOutletContext]="{
        profile: p
      }"
    ></ng-container>
  </div>
  } @else {
  <!-- if the profile belongs to a company then we don't need notifyGestures -->
  <div class="content-container backdrop-brightness-90">
    <ng-container
      [ngTemplateOutlet]="PlayerContent"
      [ngTemplateOutletContext]="{
        profile: p
      }"
    ></ng-container>
  </div>

  } } @else {
  <!-- shows the loading component when no data is available yet -->
  <div class="h-screen">
    <notify-loading></notify-loading>
  </div>
  }
</div>

<ng-template #PlayerContent let-p="profile">
  <!-- MAIN PLAYER -->
  <div
    class="smooth h-full w-full min-h-0 shrink !ease-linear !duration-100 player-responsive will-change-transform"
    [ngStyle]="{
      transform: 'translate(0%, 0%) scale(' + profileScale + ')',
      filter: 'blur(' + (100 - profileScale * 100) + 'px)'
    }"
    [ngClass]="{
      'max-h-screen fixed': companyIsVisible
    }"
  >
    <notify-profile-view
      (integrationClicked)="handleIntegrationClicked($event, p)"
      [data]="p"
      (subAvatarClick)="forceShowCompanyProfile()"
      (feedbackClicked)="showFeedback(p)"
      [footer]="footer"
      [environment]="environment"
      [isRunningOnPlayer]="true"
    ></notify-profile-view>
  </div>

  <!-- MOBILE COMPANY PLAYER -->
  <div
    *ngIf="p?.company as pCompany"
    class="top-0 left-0 smooth z-50 w-full !ease-linear !duration-100 player-responsive will-change-transform"
    [ngStyle]="{ transform: 'translateX(' + companyProfileX + 'vw)' }"
    [ngClass]="{
      'absolute h-0': !companyIsVisible
    }"
  >
    <notify-profile-view
      (integrationClicked)="handleIntegrationClicked($event, pCompany)"
      [data]="pCompany"
      [isRunningOnPlayer]="true"
      [footer]="footer"
    ></notify-profile-view>
  </div>
</ng-template>
