<div class="page-layout">
  <notify-page-header
    [title]="'Gestione Profilo'"
    subtitle="Modifica e condividi il tuo profilo personale"
  ></notify-page-header>

  <div>
    <div>
      <notify-profile-management-template-base
        [profile$]="profile$"
        [loading]="loading"
        [baseUrl]="baseUrl"
        [savedRedirects]="savedRedirects"
        (previewProfile)="previewProfile($event)"
        (saveProfile)="saveProfile($event)"
        (removeSavedRedirect)="removeSavedRedirect($event)"
        (openShareSettings)="openShareSettings($event)"
        [notes]="(notesSelect$ | async) || []"
        (updateToV2)="updateToV2()"
      ></notify-profile-management-template-base>
    </div>
  </div>
</div>
