<div class="my-4 flex flex-col space-y-5">
  <div class="flex justify-between w-full space-x-2">
    <a
      class="btn bg-purple-400 text-white w-6/12 hover:bg-purple-500"
      href="https://dashboard.stripe.com/login"
      target="_blank"
      >Dashboard Stripe</a
    >
    <a
      class="btn bg-blue-400 text-white w-6/12 hover:bg-blue-500"
      href="https://trello.com/b/F53RBqr4/clienti"
      target="_blank"
      >Trello (Clienti)</a
    >
  </div>

  <div class="divider"></div>

  <div class="flex space-x-2 items-end">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">ID FATTURA</span>
      </div>
      <select
        class="select select-bordered w-full"
        [(ngModel)]="invoiceId"
        (ngModelChange)="getInvoice()"
      >
        <option value="" disabled selected>Seleziona una fattura</option>
        @for (invoice of invoices$ | async ; track $index) {
        <option [value]="invoice.id">
          {{ invoice.account_name }} |
          {{ invoice.amount_paid / 100 | currency : 'EUR' }} |
          {{ invoice.created * 1000 | date : 'dd/MM/yyyy HH:mm' }}
        </option>
        }
      </select>
    </label>
  </div>

  <div class="divider"></div>

  @if (loading) {
  <notify-loading></notify-loading>
  }
  <div
    *ngIf="stripeInvoice$ | async as stripeInvoice"
    class="flex flex-col space-y-4"
    [ngClass]="{
      hidden: loading
    }"
  >
    <div class="flex space-x-2">
      <a
        class="btn bg-purple-400 text-white hover:bg-purple-500"
        href="https://dashboard.stripe.com/invoices/{{ stripeInvoice.id }}"
        target="_blank"
        >Gestisci su Stripe</a
      >
      <a
        class="btn bg-purple-400 text-white hover:bg-purple-500"
        [href]="stripeInvoice.invoice_pdf"
        target="_blank"
        >PDF Fattura</a
      >
      <button
        class="btn btn-primary"
        data-theme="notifytheme"
        (click)="openLicenseForm()"
      >
        Genera Licenza Notify
      </button>
    </div>

    <div class="p-2 px-4 rounded-lg border border-gray-500">
      <h1 class="text-lg font-bold text-white">Contatti</h1>
      <p>Nome: {{ stripeInvoice.customer_name }}</p>
      <p>Email: {{ stripeInvoice.customer_email }}</p>
      <p>Telefono: {{ stripeInvoice.customer_phone }}</p>
    </div>

    <div
      *ngIf="stripeInvoice.customer_shipping as shipping"
      class="p-2 px-4 rounded-lg border border-gray-500"
    >
      <h1 class="text-lg font-bold text-white">Spedizione</h1>
      <p>
        {{ shipping.name }}
      </p>
      <p>
        {{ shipping.address.line1 }}
        {{ shipping.address.line2 }} {{ shipping.address.city }}
        {{ shipping.address.state }}, {{ shipping.address.postal_code }}
        {{ shipping.address.country }}
      </p>
    </div>

    <div class="p-2 px-4 rounded-lg border border-gray-500">
      <h1 class="text-lg font-bold text-white">Prodotti</h1>
      <ol class="list-decimal px-2">
        @for (item of stripeInvoice.lines.data; track $index) {
        <li>
          <div class="flex space-x-2">
            <div class="flex flex-col space-y-2">
              <p class="text-lg font-bold">
                {{ item.description }}
              </p>
              <div class="ml-4">
                <p>
                  {{ item.quantity }} x {{ item.price.unit_amount / 100 }} €
                </p>
                <p>
                  {{ translateMetadata(item.price.product.metadata) }}
                </p>
              </div>
            </div>
          </div>
        </li>
        }
      </ol>
      <div class="divider"></div>
      <p class="text-lg text-end">
        Totale: <strong>{{ stripeInvoice.total / 100 }} €</strong>
      </p>
    </div>

    <div class="divider"></div>

    <div class="flex flex-col space-y-2">
      <h1 class="text-lg font-bold text-white">
        INVIA EMAIL DI AVANZAMENTO STATO
      </h1>
      <select
        class="select select-bordered w-full max-w-xs"
        [(ngModel)]="orderStatus"
        (ngModelChange)="setEmailData(stripeInvoice)"
      >
        <option value="" disabled selected>Seleziona lo stato</option>
        @for (item of orderStatuses; track $index) {
        <option value="{{ item.value }}">{{ item.label }}</option>
        }
      </select>

      <div class="flex flex-col space-y-4">
        <label
          class="form-control w-full"
          *ngIf="emailData.customFieldDefinition"
        >
          <div class="label">
            <span class="label-text">{{
              emailData.customFieldDefinition.name
            }}</span>
          </div>
          <textarea
            type="text"
            [(ngModel)]="emailData.customFieldValue"
            placeholder="Inserisci il valore"
            class="input input-bordered w-full py-1"
          ></textarea>
        </label>

        <button
          *ngIf="emailData.emailContent"
          class="btn btn-primary"
          (click)="sendStatusUpdate(stripeInvoice.customer_email)"
        >
          Invia Aggiornamento
        </button>

        <iframe
          *ngIf="emailData.emailContent"
          [srcdoc]="currentEmailTemplate"
          frameborder="0"
          class="h-screen rounded-lg"
        ></iframe>
      </div>
    </div>
  </div>
</div>
