<div class="my-4 flex flex-col space-y-5">
  <a
    class="btn bg-purple-400 text-white w-full hover:bg-purple-500"
    href="https://dashboard.stripe.com/login"
    >Dashboard Stripe</a
  >

  <div class="divider"></div>

  <div class="flex space-x-2 items-end">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">ID FATTURA</span>
      </div>
      <select class="select select-bordered w-full" [(ngModel)]="invoiceId">
        <option value="" disabled selected>Seleziona una fattura</option>
        @for (invoice of invoices$ | async ; track $index) {
        <option [value]="invoice.id">
          {{ invoice.account_name }} |
          {{ invoice.amount_paid / 100 | currency : 'EUR' }} |
          {{ invoice.created * 1000 | date : 'dd/MM/yyyy HH:mm' }}
        </option>
        }
      </select>
    </label>
    <button
      class="btn btn-primary"
      data-theme="notifytheme"
      [disabled]="!invoiceId || loading"
      (click)="getInvoice()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
          clip-rule="evenodd"
        />
      </svg>

      <span>Cerca</span>
    </button>
  </div>

  <div class="divider"></div>

  <notify-loading *ngIf="loading"></notify-loading>

  <div
    *ngIf="stripeInvoice$ | async as stripeInvoice"
    class="flex flex-col space-y-4"
  >
    <div class="flex space-x-2">
      <a
        class="btn bg-purple-400 text-white hover:bg-purple-500"
        href="https://dashboard.stripe.com/invoices/{{ stripeInvoice.id }}"
        target="_blank"
        >Gestisci su Stripe</a
      >
      <a
        class="btn bg-purple-400 text-white hover:bg-purple-500"
        [href]="stripeInvoice.invoice_pdf"
        target="_blank"
        >PDF Fattura</a
      >
      <button
        class="btn btn-primary"
        data-theme="notifytheme"
        (click)="openLicenseForm()"
      >
        Genera Licenza Notify
      </button>
    </div>

    <div
      *ngIf="stripeInvoice.customer_shipping as shipping"
      class="p-2 px-4 rounded-lg border border-gray-500"
    >
      <h1 class="text-lg font-bold text-white">Spedizione</h1>
      <p>
        {{ shipping.name }}
      </p>
      <p>
        {{ shipping.address.line1 }}
        {{ shipping.address.line2 }} {{ shipping.address.city }}
        {{ shipping.address.state }}, {{ shipping.address.postal_code }}
        {{ shipping.address.country }}
      </p>
    </div>

    <div class="p-2 px-4 rounded-lg border border-gray-500">
      <h1 class="text-lg font-bold text-white">Prodotti</h1>
      <ol class="list-decimal px-2">
        @for (item of stripeInvoice.lines.data; track $index) {
        <li>
          <div class="flex space-x-2">
            <div class="flex flex-col space-y-2">
              <p class="text-lg font-bold">
                {{ item.description }}
              </p>
              <div class="ml-4">
                <p>
                  {{ item.quantity }} x {{ item.price.unit_amount / 100 }} €
                </p>
              </div>
            </div>
          </div>
        </li>
        }
      </ol>
      <div class="divider"></div>
      <p class="text-lg text-end">
        Totale: <strong>{{ stripeInvoice.total / 100 }} €</strong>
      </p>
    </div>

    <div class="divider"></div>

    <div class="flex flex-col space-y-2">
      <h1 class="text-lg font-bold text-white">
        INVIA EMAIL DI AVANZAMENTO STATO
      </h1>
      <select
        class="select select-bordered w-full max-w-xs"
        [(ngModel)]="orderStatus"
        (ngModelChange)="setEmailCustomField(stripeInvoice)"
      >
        <option value="">Seleziona lo stato</option>
        @for (item of orderStatuses; track $index) {
        <option value="{{ item.value }}">{{ item.label }}</option>
        }
      </select>

      <div class="flex flex-col space-y-4">
        <label class="form-control w-full" *ngIf="emailCustomField.definition">
          <div class="label">
            <span class="label-text">{{
              emailCustomField.definition.name
            }}</span>
          </div>
          <input
            type="text"
            [(ngModel)]="emailCustomField.value"
            placeholder="Inserisci il valore"
            class="input input-bordered w-full"
          />
        </label>

        <button
          *ngIf="emailCustomField.emailContent"
          class="btn btn-primary"
          (click)="sendStatusUpdate(stripeInvoice.customer_email)"
        >
          Invia Aggiornamento
        </button>

        <iframe
          *ngIf="emailCustomField.emailContent"
          [srcdoc]="currentEmailTemplate"
          frameborder="0"
          class="h-screen rounded-lg"
        ></iframe>
      </div>
    </div>
  </div>
</div>
