<div class="fixed bottom-0 right-0 scale-[0.4] opacity-50" *ngIf="loading">
  <notify-loading [interval]="10"></notify-loading>
</div>

<div class="page-layout">
  <notify-page-header
    title="Gestisci nota"
    subtitle="Visualizza e modifica i dati della nota"
  ></notify-page-header>

  @if (note$ | async; as n) {
  <div>
    <div>
      <div>
        <button
          class="btn bg-gray-900/50 btn-circle w-32 space-x-2"
          (click)="goBack()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
            />
          </svg>
          <span>Indietro</span>
        </button>
      </div>
      <notify-note-detail
        [note]="n"
        (noteChanged)="saveNote($event)"
      ></notify-note-detail>
    </div>
  </div>
  } @else {
  <div class="h-[80vh]">
    <notify-loading></notify-loading>
  </div>
  }
</div>
