<div class="page-layout">
  <notify-page-header
    title="Colleghi"
    subtitle="Mostra i e condividi il profilo dei tuoi colleghi"
  ></notify-page-header>

  @if (colleagues$ | async; as agents) {
  <notify-accounts-table
    [users]="agents"
    [maxAgents]="null"
    [config]="{
      disabledRows: ['role', 'createdAt', 'select-item', 'actions'],
      clickableRow: true
    }"
    (rowClicked)="inspectProfile($event.profile)"
  ></notify-accounts-table>
  } @else {
  <div class="h-[40vh] md:h-[60vh]">
    <notify-loading></notify-loading>
  </div>
  }
</div>
