<div class="page-layout">
  <notify-page-header
    title="Colleghi"
    subtitle="Mostra i e condividi il profilo dei tuoi colleghi"
  ></notify-page-header>

  <notify-accounts-table
    [users$]="colleagues$"
    [maxAgents]="null"
    [skeletonRows]="5"
    [config]="{
      allowedActions: [],
      hiddenColumns: ['select-item', 'actions', 'role', 'createdAt'],
      clickableRow: true
    }"
    [noItemsMessages]="{
      title: 'Nessun risultato',
      subtitle:
        'Non hai alcun collega oppure la tua ricerca non ha prodotto risultati'
    }"
    (rowClicked)="inspectProfile($event.profile)"
  ></notify-accounts-table>
</div>
