PORT=3100
BUN_ENV=development

# EMAIL CONFIG
SMTP_HOST=mail.notifyapp.it
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=<SMTP_USER>
SMTP_FROM="Notify <SMTP_USER>"
SMTP_PASSWORD=<SMTP_PASSWORD>

DEBUG_EMAIL=<DEBUG_EMAIL>

MONGO_URI=mongodb://<MONGO_USER>:<MONGO_PASSWORD>@mongodb-develop.vps.notifyapp.it:27019/notify?authSource=admin&ssl=false
# MONGO_URI=mongodb://<MONGO_USER>:<MONGO_PASSWORD>@mongodb-production.vps.notifyapp.it:27018/notify?authSource=admin

JWT_KEY=<JWT_KEY>
API_KEY=<API_KEY>

SENTRY_DSN=<SENTRY_DSN>

S3_ACCESS_KEY=<S3_ACCESS_KEY>
S3_SECRET=<S3_SECRET>
S3_BUCKET=notify-api-dev
S3_ENDPOINT=s3-api.vps.notifyapp.it
S3_SSL=false

ENABLE_PIXEL_ROUTE=false

GOOGLE_API_KEY=<GOOGLE_API_KEY>
GOOGLE_ISSUER_ID=<GOOGLE_ISSUER_ID>

OPENAI_API_KEY=<OPENAI_API_KEY>

FIREBASE_PROJECT_ID=notify-422508
FIREBASE_CLIENT_EMAIL=<FIREBASE_CLIENT_EMAIL>
FIREBASE_PRIVATE_KEY=<FIREBASE_PRIVATE_KEY>

PUBLIC_WEBSITE_URL=http://localhost:4200
PLAYER_WEBSITE_URL=https://noty.li/
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_PUBLIC_KEY=<STRIPE_PUBLIC_KEY>

ASSETS_PATH=apps/nfc-api/src/assets

# APPLE CERTIFICATES CONFIG
APPLE_TEAM_IDENTIFIER=<APPLE_TEAM_IDENTIFIER>
APPLE_PASS_TYPE_IDENTIFIER=<APPLE_PASS_TYPE_IDENTIFIER>
APPLE_ORGANIZATION_NAME=Offcenter SRL

COMPANY_TRIAL_DAYS=30