.custom-shape-divider-top-1721923973 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  rotate: 180deg;
  scale: -1 -1;
}

.custom-shape-divider-top-1721923973 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1721923973 .shape-fill {
  fill: #f8fafc;
}

.custom-shape-divider-top-1721924039 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721924039 svg {
  position: relative;
  display: block;
  width: calc(210% + 1.3px);
  height: 282px;
}

.custom-shape-divider-top-1721924039 .shape-fill {
  fill: #2678e4;
}
