<div class="relative">
  <div class="flex flex-col !justify-center">
    <div class="max-content-width !h-fit">
      <p class="website-section pt-5 !h-fit">
        <span class="section-title">30+ realtà</span>
        <span class="section-subtitle">
          hanno già scelto di fidarsi di noi. <br />
          Pronti per essere i prossimi?
        </span>
      </p>
    </div>

    <div class="flex justify-center">
      <notify-partners></notify-partners>
    </div>
  </div>

  <!-- <div
    class="absolute px-4 py-2 rounded-full bottom-0 left-4 lg:left-24 2xl:left-[30%] shadow-lg bg-white flex items-center space-x-4 z-20"
  >
    <div class="rating lg:rating-lg pointer-events-none space-x-4 lg:space-x-6">
      <input
        type="radio"
        name="rating-8"
        class="mask mask-star-2 bg-yellow-400 intersect:animate-jump-in !animate-delay-0"
      />
      <input
        type="radio"
        name="rating-8"
        class="mask mask-star-2 bg-yellow-400 intersect:animate-jump-in !animate-delay-100"
        checked="checked"
      />
      <input
        type="radio"
        checked="checked"
        name="rating-8"
        class="mask mask-star-2 bg-yellow-400 intersect:animate-jump-in !animate-delay-200"
      />
      <input
        type="radio"
        checked="checked"
        name="rating-8"
        class="mask mask-star-2 bg-yellow-400 intersect:animate-jump-in !animate-delay-300"
      />
      <input
        type="radio"
        checked="checked"
        name="rating-8"
        class="mask mask-star-2 bg-yellow-400 intersect:animate-jump-in !animate-delay-[400ms]"
      />
    </div>
  </div> -->
</div>
