<div class="flex flex-col lg:flex-row font-work min-h-screen overflow-hidden">
  <notify-nav
    class="lg:scale-[0.965] lg:px-2 z-[999]"
    [topItems]="(topNav$ | async) || []"
    [bottomItems]="bottomNav"
    subtitle="Dashboard"
    [versionInfo]="{
      currentVersion: currentVersionLabel,
      currentVersionDate: currentVersionDate,
    }"
    [notifications]="{
      showBadge: !expiredLicense,
      count$: unreadNotificationsCount$,
    }"
    (notificationsClick)="handleNotificationsClick()"
    [skeletonRows]="skeletonRows"
    (versionClick)="handleVersionClick()"
  ></notify-nav>

  <div class="pr-3 p-1 h-full lg:max-h-screen lg:w-screen overflow-x-hidden">
    <router-outlet class="w-full h-full"></router-outlet>
  </div>
</div>
