<div class="page-layout">
  <notify-page-header
    title="Gestione Profilo"
    subtitle="Modifica e condividi il tuo profilo aziendale"
  ></notify-page-header>

  @if (profile$ | async; as profile) {
  <div>
    <div>
      <div>
        <notify-share-profile
          [profile]="profile"
          [baseUrl]="baseUrl"
        ></notify-share-profile>
      </div>
      <div
        class="lg:flex justify-around lg:space-x-4 space-y-4 lg:space-y-0 items-start w-full"
      >
        <notify-profile-form
          [profile]="profile"
          [loading]="loading"
          (value)="updateProfileSubject($event)"
          (submitForm)="saveProfile($event)"
          class="w-full 2xl:w-6/12"
        ></notify-profile-form>

        <div class="w-6/12 p-2 flex justify-center relative">
          <notify-profile-view
            [data]="profile"
            [mockup]="true"
            [publicUrl]="''"
            class="iphone-15-pro hidden lg:block absolute scale-75 2xl:scale-100 top-10"
          ></notify-profile-view>
        </div>
      </div>

      <div class="fixed bottom-5 right-5 lg:hidden z-50">
        <button class="floating-button" (click)="previewProfile(profile)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  } @else {
  <div class="loading-container">
    <notify-loading></notify-loading>
  </div>
  }
</div>
<div class="fixed bottom-0 right-0 scale-[0.4] opacity-50" *ngIf="loading">
  <notify-loading></notify-loading>
</div>
