<notify-recover-password-form
  *ngIf="!submitted"
  [config]="config"
  [loading]="loading"
  (submitted)="handleEmailSubmitted($event)"
></notify-recover-password-form>

<div
  *ngIf="submitted"
  class="h-screen w-screen overlay-hidden flex flex-col justify-center items-center space-y-4"
>
  <h1 class="text-2xl font-bold text-center text-white">Email inviata</h1>
  <p class="text-center">
    Abbiamo inviato un'email all'indirizzo email inserito con le istruzioni per
    reimpostare la password.
  </p>
  <p>
    <a [routerLink]="['/signin']" class="text-primary-500">Torna al login</a>
  </p>
</div>
