<div class="max-content-width h-lscreen relative">
  <div class="website-section !justify-center">
    <div class="flex flex-col space-y-4 items-center z-10">
      <h1 class="section-title fade-down saturate-150">
        <p>
          Il biglietto da visita
          <span class="text-secondary-500"> smart</span>,
        </p>
        <p>
          per il tuo
          <span class="text-primary-500"> business</span>.
        </p>
      </h1>

      <div class="flex flex-col lg:mx-20 px-2 lg:px-10 space-y-10">
        <div class="splash-subtitle">
          <p class="fade-up">
            errori di battitura e ri-stampe sono un ricordo del passato.
          </p>
          <p class="fade-up-delayed">
            Notify è il SaaS all-in-one che trasforma il tuo modo di
            relazionarti <br />
            con la tua rete di contatti.
          </p>
          <!-- <p class="fade-up-delayed">
            Notify è il primo biglietto da visita costruito con una mentalità
            team-first.
          </p> -->
        </div>

        <div class="animate-fade-up">
          <button
            class="splash-cta smooth smooth-slower notify-shadow mt-5"
            (click)="goToShop()"
          >
            <div>Sfoglia le cards</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
          <div class="text-center text-sm lg:text-base">
            <small>
              <a
                class="link opacity-75 animate-fade"
                (click)="openCalendlyPopup()"
                >Oppure, richiedi una demo</a
              >
            </small>
          </div>
        </div>
        <notify-funded-by
          class="animate-fade-right animate-delay-150 animate-ease-out"
        ></notify-funded-by>
      </div>

      <div class="mouse smooth hidden lg:block" id="mouseGlpyh">
        <div class="scroll"></div>
      </div>
    </div>
  </div>
</div>
