.splash-subtitle {
  @apply font-medium text-center text-slate-900/60 px-3 text-sm lg:text-base;
}

.splash-cta {
  @apply p-3 rounded-lg w-full whitespace-nowrap text-center text-white flex justify-center items-center bg-gradient-to-br from-cyan-500 to-blue-500 hover:brightness-105 lg:hover:scale-110 font-bold lg:text-xl active:scale-100 space-x-2;
}

.mouse {
  position: absolute;
  width: 30px;
  height: 50px;
  bottom: 10%;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid #b8b8b8;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}
.scroll {
  display: block;
  width: 6px;
  height: 6px;
  margin: 6px auto;
  border-radius: 4px;
  background: #b8b8b8;
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
}
@-webkit-keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
