<img
  [src]="mockupAssetPath"
  class="h-[80%] lg:h-[70%] 2xl:h-[80%] absolute right-0 top-[58%] lg:top-[25%] drop-shadow shrink-0 object-contain"
/>
<div class="max-content-width relative w-full min-h-[100svh] lg:h-[100lvh]">
  <div class="website-section !items-start !justify-center w-full">
    <div
      class="flex flex-col space-y-7 lg:justify-center z-10 h-full 2xl:lg-[90%] lg:scale-[0.7] 2xl:scale-100 lg:ml-2 mt-20 2xl:mt-0"
    >
      <!-- MAIN TITLE  -->
      <div class="flex flex-col space-y-3 w-full">
        <h1 class="section-title fade-down !text-[#013166]">
          <p class="text-center leading-[2.7rem] lg:leading-none lg:text-start">
            <span class="lg:whitespace-nowrap">
              <span> Il biglietto da visita </span>

              <span class="text-accent-color underline">smart</span>
              <span class="absolute">,</span>
            </span>
            <br />

            <span>per il tuo </span>
            <span class="text-green-500 underline -ml-1">business</span>
            <span class="absolute">.</span>
          </p>
        </h1>
        <div class="splash-subtitle !px-0">
          <p class="fade-up-delayed lg:!text-start">
            Notify è il software che rivoluziona il modo in cui <br />
            tu e il tuo team costruite il vostro network.
          </p>
        </div>
      </div>
      <!-- CALL TO ACTIONS -->
      <div
        class="animate-fade-up w-full flex flex-col lg:flex-row justify-center space-y-2 lg:space-y-0 lg:space-x-4"
      >
        <a
          href="https://aziende.notifyapp.it/signup"
          target="_blank"
          class="splash-cta cta-secondary smooth smooth-fastest smooth-linear"
        >
          Provalo gratis
        </a>

        <button
          class="splash-cta smooth smooth-fastest smooth-linear"
          (click)="goToShop()"
        >
          <div>Sfoglia le cards</div>
        </button>
      </div>

      <div class="lg:w-10/12 lg:self-center">
        <notify-funded-by></notify-funded-by>
      </div>
    </div>

    <!-- ANIMATED CHEVRON -->
    <div
      class="flex flex-col justify-end items-center w-full text-white lg:text-[#013166] z-10 space-y-2 drop-shadow"
    >
      <small class="font-bold font-sans">Scopri di più</small>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-10 bounce-arrow"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m19.5 8.25-7.5 7.5-7.5-7.5"
        />
      </svg>
    </div>
  </div>
</div>
