<div class="page-layout">
  <notify-page-header
    title="Sub-accounts"
    subtitle="Crea e gestisci i tuoi sub-accounts"
    [buttons]="[
      {
        eventName: 'addUser',
        label: 'Crea',
        icon: [
          'M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z'
        ],
        disabled: maxAgents === null ? false : agents >= maxAgents
      }
    ]"
    (buttonClicked)="editUser()"
  ></notify-page-header>

  <notify-accounts-table
    [users$]="agents$"
    [maxAgents]="maxAgents"
    (inspectUser)="inspectProfile($event.profile)"
    (editUser)="editUser($event)"
    (deleteUser)="deleteUser($event)"
    (inspectAnalytics)="inspectAnalytics($event)"
    (editProfile)="editProfile($event)"
    [config]="{
      displayLeftAccounts: true,
      hiddenColumns: ['select-item']
    }"
  ></notify-accounts-table>
</div>
