<div class="page-layout">
  <notify-page-header
    title="Utenti"
    subtitle="Crea e gestisci gli accounts dei tuoi dipendenti."
    [buttons]="[
      {
        eventName: 'addUser',
        label: 'Crea',
        icon: [
          'M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z'
        ],
        disabled: !agents || agents >= maxAgents
      },
      {
        eventName: 'importUsers',
        label: 'Importa',
        icon: [
          'M5.507 4.048A3 3 0 017.785 3h8.43a3 3 0 012.278 1.048l1.722 2.008A4.533 4.533 0 0019.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008z',
          'M1.5 10.5a3 3 0 013-3h15a3 3 0 110 6h-15a3 3 0 01-3-3zm15 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm2.25.75a.75.75 0 100-1.5.75.75 0 000 1.5zM4.5 15a3 3 0 100 6h15a3 3 0 100-6h-15zm11.25 3.75a.75.75 0 100-1.5.75.75 0 000 1.5zM19.5 18a.75.75 0 11-1.5 0 .75.75 0 011.5 0z'
        ],
        disabled: true
      }
    ]"
    (buttonClicked)="showUserForm()"
  ></notify-page-header>
  @if (agents$ | async; as p) {
  <div>
    <div>
      <!-- TODO SEARCH e incapsulamento dell'input -->
      <div class="form-control box p-4">
        <label class="label">
          <span class="label-text">Cerca</span>
        </label>
        <div class="relative">
          <svg
            class="pointer-events-none absolute z-10 my-3.5 ms-4 stroke-current opacity-60 text-base-content h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
          <input
            type="text"
            placeholder="Mario Rossi"
            class="input input-bordered w-full pl-14 input-style"
          />
        </div>
        <label class="label">
          <label class="label-text"></label>
          <div class="flex justify-end">
            <span class="badge badge-warning badge-sm" data-theme="notifytheme">
              {{ p.length }}/{{ maxAgents }} Utenti creati
            </span>
          </div>
        </label>
      </div>

      <!-- TODO FILTERS -->

      <!-- TABLE -->
      <div class="box w-full h-full p-4">
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>
                  <label>
                    <input type="checkbox" class="checkbox" />
                  </label>
                </th>
                <th>Nome</th>
                <th>Ruolo</th>
                <th>Aggiunto il</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              @for (user of p; track user._id) {
              <tr
                notify-accounts-row
                class="w-full"
                [user]="user"
                (inspectProfile)="inspectProfile(user.profile)"
                (showUserForm)="showUserForm(user)"
              ></tr>
              }
            </tbody>
            <!-- foot -->
          </table>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="h-[40vh] md:h-[60vh]">
    <notify-loading></notify-loading>
  </div>
  }
</div>
