<div class="page-layout">
  <notify-page-header
    title="Utenti"
    subtitle="Crea e gestisci gli accounts dei tuoi dipendenti"
    [buttons]="[
      {
        eventName: 'addUser',
        label: 'Crea',
        icon: [
          'M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z'
        ],
        disabled: maxAgents === null ? false : agents >= maxAgents
      },
      {
        eventName: 'importUsers',
        label: 'Importa',
        icon: [
          'M5.507 4.048A3 3 0 017.785 3h8.43a3 3 0 012.278 1.048l1.722 2.008A4.533 4.533 0 0019.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008z',
          'M1.5 10.5a3 3 0 013-3h15a3 3 0 110 6h-15a3 3 0 01-3-3zm15 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm2.25.75a.75.75 0 100-1.5.75.75 0 000 1.5zM4.5 15a3 3 0 100 6h15a3 3 0 100-6h-15zm11.25 3.75a.75.75 0 100-1.5.75.75 0 000 1.5zM19.5 18a.75.75 0 11-1.5 0 .75.75 0 011.5 0z'
        ],
        disabled: true
      }
    ]"
    (buttonClicked)="editUser()"
  ></notify-page-header>

  <notify-accounts-table
    [users$]="agents$"
    [maxAgents]="maxAgents"
    (inspectUser)="inspectProfile($event.profile)"
    (editUser)="editUser($event)"
    (deleteUser)="deleteUser($event)"
    (inspectAnalytics)="inspectAnalytics($event)"
    (editProfile)="editProfile($event)"
    [config]="{
      allowedActions: ['inspect', 'edit', 'delete', 'analytics', 'personalize'],
      displayLeftAccounts: true,
      hiddenColumns: ['select-item']
    }"
  ></notify-accounts-table>
</div>
