<notify-update-password-form
  *ngIf="!hasError"
  [config]="config"
  [loading]="loading"
  (submitted)="handleSubmitted($event)"
></notify-update-password-form>
<div
  *ngIf="hasError"
  class="h-screen w-screen overlay-hidden flex flex-col justify-center items-center space-y-4"
>
  <h1 class="text-2xl font-bold text-center text-white">Errore</h1>
  <p class="text-center">
    Si è verificato un errore durante il recupero delle informazioni. Prova a
    inviare nuovamente la richiesta di recupero password.
  </p>
  <p>
    <a [routerLink]="['/password/recover']" class="text-primary-500"
      >Invia nuova richiesta</a
    >
  </p>
</div>
