notify-tailwind-input {
  width: 100%;
}

.editor-feature {
  @apply rounded-2xl p-4 flex flex-col space-y-4 w-80 lg:w-96 border shadow bg-gray-50/50 backdrop-blur-sm;

  h2 {
    @apply text-2xl font-bold  w-full  font-outfit;
  }

  p {
    @apply text-sm;
  }
}

.feature-column {
  @apply flex flex-col space-y-2 lg:space-y-2 w-full;
}

.pulsing-dot {
  @apply flex relative items-center rounded-full w-fit;

  div:nth-child(1) {
    @apply size-2 rounded-full top-[50%] left-0 scale-0 intersect:scale-100;
  }

  span {
    @apply ml-2 text-sm font-bold font-quicksand text-gray-500 -translate-x-3 opacity-0 intersect:opacity-100 intersect:translate-x-0 transition-transform;
  }

  &.dot-live {
    div:nth-child(1) {
      @apply bg-green-400;
      box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
        0px 0px 10px 2px rgba(0, 255, 135, 1);
    }
  }

  &.dot-coming-soon {
    div:nth-child(1) {
      @apply bg-yellow-400;
      box-shadow: inset 0px 0px 10px 2px rgba(235, 178, 0.5),
        0px 0px 10px 2px rgba(235, 178, 0.5);
    }
  }
}
