<img
  src="/assets/images/grid-pattern.webp"
  class="object-none size-full absolute left-0 pointer-events-none mt-[10rem] lg:mt-auto hidden lg:block"
/>
<div class="max-content-width">
  <div class="website-section">
    <h1 class="section-title">Perchè Notify?</h1>
    <p class="section-subtitle">
      Un biglietto da visita digitale mai visto prima, ricco di funzioni,
      contenuto in un editor sviluppato appositamente
      <br />
      per creare il TUO profilo digitale in pochi minuti senza la necessità di
      alcuna competenza tecnica o di design.
    </p>
    <div
      class="flex flex-col lg:flex-row space-y-4 lg:space-x-4 lg:space-y-2 mt-10 items-center"
    >
      <div class="feature-column">
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Drag & Drop</h2>
          <p>
            Abbiamo progettato il nostro editor per essere il più intuitivo e il
            più potente possibile, permettendoti di modificare ogni aspetto del
            tuo profilo digitale.
            <br /><br />
            Aggiungi, modifica e riordina i nostri moduli per scolpire il
            profilo che ti rappresenti al meglio.
            <br /><br />
            Modifica poi colori, fonts, sfondo e stili in pochi click, senza
            alcuna competenza di programmazione.
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Alias</h2>
          <p>
            Personalizza l'URL del tuo profilo digitale per condividerlo con
            chiunque in un attimo.
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span> disponibile </span>
          </div>

          <h2>Condivisione immediata</h2>
          <p>
            Hai dimenticato la tua card a casa? <br />
            Condividi il tuo profilo tramite un codice QR disponibile in app, un
            link o tramite un qualsiasi supporto NFC (NTAG215).
          </p>
        </div>
      </div>

      <div class="feature-column">
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Raccolta contatti passiva</h2>
          <p>
            Richiedi i dati di contatto a chi visualizza il tuo profilo, come il
            nome, l'email o il numero di telefono. <br /><br />
            Potrai poi visualizzarli direttamente in app o sul portale
            amministrativo della tua azienda.
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right lg:even:intersect:animate-fade"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Team-first</h2>
          <p>
            Ogni profilo Notify è capace, tramite un tap o uno swipe, di
            visualizzare il profilo aziendale in un attimo.
            <br />
            <br />
            Ciò permette al tuo team di costruire ogni profilo attorno alle
            proprie informazioni di contatto, anzichè traslare quelle aziendali
            per ogni membro.
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-coming-soon">
            <div></div>
            <span>{{ comingSoonLabel }}</span>
          </div>

          <h2>Book a meeting</h2>
          <p>
            Basta link di Calendly volanti, o email con orari da concordare.
            <br />
            Permetti ai tuoi contatti di prenotare un appuntamento direttamente
            dal tuo profilo, scegliendo uno slot libero dal tuo calendario.
            <br />
            <br />
            Riceverai una notifica in app per ogni appuntamento prenotato e
            potrai gestire il tuo calendario direttamente da Notify.
          </p>
        </div>
      </div>

      <div class="feature-column">
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Reindirizzamento</h2>
          <p>
            Non hai bisogno di un profilo Notify?<br /><br />
            Reindirizza automaticamente la tua card ad un qualsiasi URL, come il
            tuo sito web o un profilo social. Senza perdere accesso al resto
            delle funzionalità di Notify.
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Siti Web, interattivi</h2>
          <p>
            Inserisci il link al tuo sito web per visualizzarne l'anteprima sul
            tuo profilo.
            <br />
            Al tap è poi possibile visualizzarlo a schermo intero direttamente
            da li, senza dover aprire nuove schede o caricare altre pagine
          </p>
        </div>
        <div
          class="editor-feature intersect-once even:intersect:animate-fade-right odd:intersect:animate-fade-left"
        >
          <div class="pulsing-dot smooth dot-live">
            <div></div>
            <span>{{ nowLiveLabel }}</span>
          </div>

          <h2>Sempre con te</h2>
          <p>
            Aggiungi il tuo biglietto da visita al Wallet del tuo smartphone,
            per averlo sempre a portata di mano.
            <br />
            <br />
            Disponibile sia per iPhone che per Android.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
