<div class="page-layout">
  <notify-page-header
    title="Dashboard"
    subtitle="Visualizza le informazioni principali del tuo account"
  ></notify-page-header>
  @if (dashboard$ | async; as data) {
  <div>
    <div>
      <div class="flex flex-col lg:flex-row lg:justify-between h-spacing">
        <div class="v-spacing lg:w-full">
          <div class="dashboard-cards-container h-spacing">
            <div class="dashboard-cards-container h-spacing">
              <notify-share-profile
                class="w-full"
                [profile]="data.profile"
                [baseUrl]="baseUrl"
              ></notify-share-profile>

              <notify-widget-note [note]="data.latestNote" class="w-full h-20">
              </notify-widget-note>
            </div>
          </div>

          <div class="divider"></div>
          <div class="dashboard-cards-container h-spacing">
            <notify-widget-counter
              class="dashboard-card"
              title="Visite totali"
              backgroundColor="transparent"
              elementsColor="#FFFEFC"
              [icon]="totalScansIcon"
              [count]="data.user.statsMapped.totalVisits"
              countSuffix="Visite"
            ></notify-widget-counter>
            <notify-widget-counter
              class="dashboard-card"
              title="Salvati in rubrica"
              backgroundColor="transparent"
              elementsColor="#FFFEFC"
              [icon]="savedContactsIcon"
              [count]="data.user.statsTotals?.['profile:save'] || 0"
              countSuffix="Contatti"
            ></notify-widget-counter>
            <notify-widget-counter
              class="dashboard-card"
              title="Visite da rubrica"
              backgroundColor="transparent"
              elementsColor="#FFFEFE"
              [icon]="returnFromContactBookIcon"
              [count]="data.user.statsMapped.percentReturn"
              countSuffix="% sul totale"
            >
            </notify-widget-counter>
            <!-- <notify-widget-counter
              class="dashboard-card"
              title="Impatto ambientale"
              backgroundColor="transparent"
              elementsColor="#FFFEFC"
              [icon]="co2SavedIcon"
              [count]="1.5"
              countSuffix="Kg di CO2 risparmiati"
              >TOTAL_CO2_SAVED</notify-widget-counter
            > -->
          </div>

          <div
            class="flex flex-col lg:flex-row w-full lg:h-[32rem] 2xl:h-[40rem] h-spacing"
          >
            <notify-widget-area-chart
              class="w-full h-full"
              title="Visite"
              [series]="data.areaChart"
              (timespanChange)="getProfileVisits($event).subscribe()"
            >
            </notify-widget-area-chart>
            <div class="flex flex-col lg:w-5/12 h-full items-center v-spacing">
              <notify-widget-feedback
                class="flex w-full"
                [value]="data.user.statsMapped.averageFeedback"
              >
              </notify-widget-feedback>
              <notify-widget-pie-chart
                title="Integrazioni"
                class="w-full h-full"
                [series]="data.user.statsMapped.integrationsCountValues || []"
                [legendValues]="
                  data.user.statsMapped.integrationsCountLabels || []
                "
              >
              </notify-widget-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="loading-container">
    <notify-loading></notify-loading>
  </div>
  }
</div>
