<notify-custom-table-core
  [iterable$]="licenses$"
  [config]="{
    filterableFields: ['publicKey','company.profile.name',
    'company.profile.surname',
    'company.email'],
    skeletonRows: 20,
    style:{
      transparentBackground:true,
      alternateRows:true
    },
    clickableRows: true,
    columns: [
      {
        id: 'public-key',
        label: 'Chiave Pubblica',
        value: {
          valueType: 'field',
          fieldName: 'publicKey'
        }
      },
      {
        id: 'boughtCards',
        label: 'Tessere',
        value: {
          valueType: 'field',
          fieldName: 'boughtCards'
        }
      },
      {
        id: 'allowedAgents',
        label: 'Utenti Abilitati',
        value: {
          valueType: 'field',
          fieldName: 'allowedAgents'
        }
      },
      {
        id: 'expirationDate',
        label: 'Data Scadenza',
        value: {
          minWidth: 8,
          valueType: 'badge',
          style: [
            {
              condition: isExpired,
              text: '#fffff',
              bg: '#f44336'
            },
            {
              condition: isExpiring,
              text: '#fffff',
              bg: '#ff9800'
            },
            {
              condition: isNotExpired,
              text: '#fffff',
              bg: '#4caf50'
            }
          ],
          fieldName: 'expirationDate',
          transformer: dateTransform
        },
      },
      {
        id: 'assignedTo',
        label: 'Assegnato a',
        value: {
          valueType: 'avatar',
          avatarSize: '14',
          fields: {
            src: 'company.profile.avatar',
            mask: 'company.profile.config.avatarMask',
            backgroundColor: 'company.profile.colors.elements',
            placeholderSeed: 'company.profile._id',
            userName: 'company.profile.name',
            userSurname: 'company.profile.surname',
            userEmail: 'company.email'
          }
        }

      },
      {
        id: 'createdAt',
        label: 'Data Creazione',
        value: {
          valueType: 'field',
          fieldName: 'createdAt',
          transformer: dateTransform
        }
      }
    ]
  }"
></notify-custom-table-core>
