<div
  class="w-full flex flex-col items-center relative max-w-none justify-end min-h-[850px] lg:min-h-[850px] 2xl:min-h-[1000px]"
>
  <div class="h-full md:my-20 z-10">
    <p
      class="w-full lg:w-6/12 z-10 text-lg font-medium text-center 2xl:rounded lg:backdrop-blur-md backdrop-brightness-50 p-4 leading-loose"
    >
      Con i nostri biglietti da visita digitali, riduci la tua impronta
      ecologica e contribuisci al risparmio di carta. Ogni biglietto digitale
      inviato è un albero ringraziato. Passa al digitale e abbraccia un mondo
      più sostenibile!
    </p>
  </div>

  <notify-spline-viewer
    sceneId="D072QNDIDy3RuzqT"
    class="absolute bottom-0 h-[850px] lg:w-[1500px] lg:h-[850px] 2xl:w-[2000px] 2xl:h-[1000px] max-w-none"
    (ready)="componentStable.next()"
  ></notify-spline-viewer>
</div>
