<div
  class="w-full flex flex-col items-center md:min-h-screen relative max-w-none h-full justify-end"
>
  <div class="h-full md:my-20 z-10">
    <p
      class="w-full lg:w-6/12 z-10 lg:text-lg font-bold text-center 2xl:rounded backdrop-blur-md backdrop-brightness-75 p-4"
    >
      Con i nostri biglietti da visita digitali, riduci la tua impronta
      ecologica e contribuisci al risparmio di carta. Ogni biglietto digitale
      inviato è un albero ringraziato. Passa al digitale e abbraccia un mondo
      più sostenibile!
    </p>
  </div>
  <notify-spline-viewer
    sceneId="D072QNDIDy3RuzqT"
    class="pointer-events-none absolute right-0 bottom-0 w-full max-w-none h-full hidden md:block"
    (ready)="componentStable.next()"
  ></notify-spline-viewer>
</div>
