<div class="max-content-width">
  <div class="website-section">
    <h1 class="section-title">Siamo all'altezza delle tue esigenze?</h1>
    <div class="section-subtitle">
      <p>
        Scegli tra le nostre cards quella che fa per te e procedi con
        l'acquisto. <br />
      </p>
    </div>

    <div class="contenedorCards">
      @for (item of ecommerce.products; track $index) {

      <div class="card intersect:animate-fade-down">
        <div class="wrapper">
          <div class="colorProd"></div>
          <div
            class="imgProd"
            [ngStyle]="{ 'background-image': 'url(' + item.hero + ')' }"
          ></div>
          <div class="infoProd">
            <p class="nombreProd">
              {{ item.name }}
            </p>
            <p class="extraInfo">
              {{ item.description }}
            </p>
            <div class="actions">
              <div class="preciosGrupo">
                <p class="precio precioOferta">
                  {{ item.price * 1.22 | currency : '€' }}
                </p>
                <p class="precio precioProd">
                  {{ item.price | currency : '€' }}
                </p>
              </div>
              <div class="icono action aFavs">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
</div>
