<div class="max-content-width">
  <div
    class="w-full flex flex-col lg:flex-row justify-end lg:justify-center items-center min-h-[80vh] relative font-rocaTwoBold h-full"
  >
    <div
      class="h-full w-full flex justify-center lg:justify-around z-10 items-end"
    >
      <p
        class="lg:w-8/12 2xl:w-7/12 z-10 text-lg lg:text-xl 2xl:text-2xl font-medium text-justify p-4 lg:p-0 leading-loose backdrop-blur backdrop-brightness-50 lg:backdrop-blur-0 lg:backdrop-brightness-100 h-full intersect:animate-fade-down lg:intersect:animate-fade-right animate-ease-out opacity-0 intersect:opacity-100 smooth"
      >
        Con i nostri biglietti da visita digitali, riduci la tua impronta
        ecologica e contribuisci al risparmio di carta.
        <br />
        <br />
        <span
          class="intersect:animate-fade-right animate-ease-out opacity-0 intersect:opacity-100 smooth"
        >
          Ogni biglietto digitale inviato è un albero ringraziato. Passa al
          digitale e abbraccia un mondo più sostenibile!
        </span>
      </p>
    </div>
    <img
      src="/assets/images/green-2.svg"
      class="h-full w-full lg:w-6/12 absolute lg:static object-cover lg:rounded-b-full"
      alt="solar on a building on an island"
    />
  </div>
</div>
