<div class="max-content-width font-rocaTwoBold">
  <div class="website-section space-y-20">
    <div class="section-title">Esprimi la tua personalità</div>
    <div class="flex justify-end w-full h-full items-end relative min-h-[80vh]">
      <div
        class="absolute bottom-0 lg:bottom-[0%] 2xl:bottom-[10%] lg:max-w-[50%] lg:left-20 flex flex-col justify-center lg:items-end space-y-5 p-5 leading-loose backdrop-blur backdrop-brightness-50 lg:backdrop-blur-0 lg:backdrop-brightness-100 z-10"
      >
        <p class="text-lg lg:text-2xl text-center lg:text-end">
          Porta un tocco distintivo ai tuoi biglietti da visita con Notify!
          <br />
          <br />
          Offriamo design esclusivi e totalmente personalizzabili che
          trasformano la tua carta da visita in una vera dichiarazione di stile.
          <br />
          <br />
          Sii unico, sii te stesso con noi! 🚀✨
        </p>
      </div>
      <img
        src="/assets/images/cards.webp"
        class="h-full w-full lg:w-7/12 object-cover lg:object-contain intersect:animate-fade-left animate-ease-out opacity-0 intersect:opacity-100 smooth pointer-events-none lg:!rotate-[12deg]"
        alt="solar on a building on an island"
      />
    </div>
  </div>
</div>
