<div class="max-content-width font-rocaTwoBold">
  <div class="website-section lg:space-y-20">
    <div class="section-title">Esprimi la tua personalità</div>
    <div
      class="flex flex-col lg:flex-row-reverse justify-end w-full h-full items-end relative lg:min-h-[80vh]"
    >
      <img
        src="/assets/images/cards.webp"
        class="h-full w-full lg:w-7/12 object-contain lg:object-contain intersect:animate-fade-left animate-ease-out opacity-0 intersect:opacity-100 smooth pointer-events-none !-rotate-[27deg] lg:!rotate-[12deg]"
        alt="solar on a building on an island"
      />
      <div
        class="w-full h-full lg:h-fit flex-col justify-end lg:items-end p-5 z-10 intersect:animate-fade-down lg:intersect:animate-fade-right animate-ease-out opacity-0 intersect:opacity-100 smooth lg:-mr-[10rem] 2xl:mb-10"
      >
        <p class="text-lg lg:text-2xl text-center lg:text-end leading-relaxed">
          Porta un tocco distintivo ai tuoi biglietti da visita con Notify!
          <br />
          <br />
          Offriamo design esclusivi e totalmente personalizzabili che
          trasformano la tua carta da visita in una vera dichiarazione di stile.
          <br />
          <br />
          Sii unico, sii te stesso con noi! 🚀✨
        </p>
      </div>
    </div>
  </div>
</div>
