<div class="max-content-width">
  <div class="website-section !h-fit">
    <div class="section-title">ancora qualche dubbio?</div>
    <div class="section-subtitle">
      Abbiamo raccolto le domande più frequenti su Notify e le abbiamo risposte
      in modo chiaro e semplice.
    </div>

    <div
      class="w-full flex flex-col lg:flex-row justify-between 2xl:max-w-[50vw] mt-5 lg:mt-10 items-center lg:items-start"
    >
      <div class="cards-container">
        @for (item of itemHalved.first; track $index) {
        <ng-container
          [ngTemplateOutlet]="Card"
          [ngTemplateOutletContext]="{item}"
        ></ng-container>
        }
      </div>
      <div class="cards-container">
        @for (item of itemHalved.second; track $index) {
        <ng-container
          [ngTemplateOutlet]="Card"
          [ngTemplateOutletContext]="{item}"
        ></ng-container>
        }
      </div>
    </div>

    <ng-template let-item="item" #Card>
      <button
        class="group/card flex flex-col rounded-lg backdrop-blur-md text-slate-700 smooth hover:brightness-90 focus-within/card:pointer-events-none active/card:brightness-75 px-2 h-full will-change-transform bg-secondary-accent-color"
        tabindex="0"
      >
        <div class="flex justify-between items-center w-full min-h-32 lg:h-24">
          <span
            [innerHTML]="item.question"
            class="p-2 items-center w-full font-bold my-auto text-left"
          ></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 group-focus-within/card:rotate-180 smooth smooth-fast my-auto"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        </div>

        <span
          [innerHTML]="item.answer"
          class="px-2 text-slate-900/80 max-h-0 overflow-hidden opacity-0 group-focus-within/card:py-4 group-focus-within/card:opacity-100 group-focus-within/card:max-h-96 smooth text-justify font-light leading-relaxed will-change-[height] text-sm"
        ></span>
      </button>
    </ng-template>

    <div class="section-subtitle">
      Non hai trovato la risposta che cercavi? Nessun problema,
      <a (click)="openCalendlyPopup()" class="link">beviamoci un caffè</a> e
      parliamone insieme 🚀
    </div>
  </div>
</div>
