<div class="max-content-width min-h-[100lvh]">
  <div class="website-section relative">
    <div class="section-title">Dai un'occhiata a quello che ci rende unici</div>
    <div class="section-subtitle">
      Scopri alcune delle funzionalità che rendono Notify a misura delle tue
      esigenze e di quelle dei tuoi clienti.
    </div>

    <div
      #FeaturesContainer
      class="w-full flex justify-around mt-20 items-center mb-5 smooth"
      [ngStyle]="{
        translate: 'calc(' + selectedFeatureOffset + 'px )'
      }"
    >
      @for (item of features; track $index) {
      <button
        (click)="updateSelected(item.id)"
        class="mask mask-squircle size-16 shrink-0 items-center flex flex-col justify-center smooth hover:scale-110 saturate-0 {{
          item.color
        }}"
        [ngClass]="{
          'pointer-events-none scale-150 !saturate-100': item.id === selectedId
        }"
        id="feature-{{ item.id }}"
        [innerHTML]="item.icon"
      ></button>
      }
    </div>

    <div class="flex flex-col space-y-10">
      <div class="space-y-2 mt-1 flex flex-col">
        <p
          class="text-center text-xl font-bold font-outfit"
          [innerHTML]="selectedFeature?.title"
        ></p>
        <small>
          <p class="text-center" [innerHTML]="selectedFeature?.description"></p>
        </small>
      </div>
      <div
        class="mockup-browser bg-gray-200 shrink w-full shadow-xl notify-shadow rounded-md"
      >
        <div class="mockup-browser-toolbar">
          <div class="input !bg-gray-300"></div>
        </div>
        <div class="bg-gray-100">
          <img
            [src]="selectedFeature?.desktopImage"
            alt="Notify Features"
            class="w-full"
          />
        </div>
      </div>

      <div
        *ngIf="selectedFeature?.phoneImage as phoneImage"
        class="mockup-phone iphone-15-pro scale-75 absolute -right-32 2xl:-right-40 -bottom-32 2xl:-bottom-24 shadow-lg"
      >
        <notify-mockup-fill></notify-mockup-fill>
        <div class="display">
          <img [src]="phoneImage" alt="Notify Features" class="size-full" />
        </div>
      </div>
    </div>
  </div>
</div>
