<div class="max-content-width">
  <div class="website-section">
    <div class="section-title">Dai un'occhiata a quello che ci rende unici</div>
    <div class="section-subtitle">
      Scopri alcune delle funzionalità che rendono Notify a misura delle tue
      esigenze e di quelle dei tuoi clienti.
    </div>

    <div
      class="w-full flex flex-col justify-between 2xl:max-w-[60vw] mt-20 items-center lg:items-start space-y-10 px-5"
    >
      @for (row of featuresSplit; track $index) {
      <div
        class="cards-container !space-y-10 lg:!space-y-0 lg:space-x-5 !justify-between lg:!flex-row w-full"
      >
        @for (item of row; track $index) {
        <ng-container
          [ngTemplateOutlet]="Card"
          [ngTemplateOutletContext]="{item, half: $index === 0 ? 'first' : 'second'}"
        ></ng-container>

        }
      </div>
      }
    </div>
  </div>

  <ng-template let-item="item" let-half="half" #Card>
    <button
      class="group/card flex flex-col h-full pointer-events-none w-full lg:w-6/12 smooth opacity-0 intersect:opacity-100"
      [ngClass]="{
        'intersect:animate-fade-right animate-ease-out': half === 'first',
        'intersect:animate-fade-left animate-ease-out': half === 'second',
    }"
      tabindex="0"
    >
      <div
        class="flex flex-col justify-around space-y-2 w-full"
        [ngClass]="{ 'items-end': half === 'second' }"
      >
        <div
          class="mask mask-squircle h-12 w-12 shrink-0 items-center flex flex-col justify-center {{
            item.color
          }}"
        >
          <notify-svg-box-icon [icon]="item.icon"></notify-svg-box-icon>
        </div>
        <span
          [innerHTML]="item.title"
          class="p-2 items-center w-full font-bold text-white text-xl drop-shadow-lg my-auto text-start"
          [ngClass]="{ '!text-end': half === 'second' }"
        ></span>
      </div>

      <span
        [innerHTML]="item.description"
        class="px-2 text-gray-300/80 overflow-hidden opacity-100 max-h-96 smooth text-justify drop-shadow-md font-light leading-relaxed"
        [ngClass]="{ 'text-end': half === 'second' }"
      ></span>
    </button>
  </ng-template>
</div>
