<div class="max-content-width">
  <div class="website-section">
    <div class="w-screen flex flex-col items-center text-wrap">
      <div
        #FeaturesContainer
        class="w-[50rem] lg:!w-[100rem] flex justify-between mb-5 lg:mb-0 mt-20 items-center smooth whitespace-nowrap space-x-16 lg:space-x-0 shrink-0"
      >
        @for (item of features; track $index) {
        <button
          (click)="
            updateSelected(item.id);
            stopCarousel();
            timeLeftUntilNextFeature = carouselSpeed
          "
          class="mask mask-squircle size-16 shrink-0 items-center flex flex-col justify-center smooth hover:-translate-y-2 saturate-0 bg-gray-200/30 text-gray-400 backdrop-blur-sm"
          [ngClass]="
            item.id === selectedId
              ? 'scale-150 !saturate-100 ' + item.color
              : ''
          "
          id="feature-{{ item.id }}"
          [innerHTML]="item.icon"
        ></button>
        }
      </div>

      <div
        class="flex flex-col lg:space-y-10 lg:max-w-[95vw] items-center relative group/selectedItem"
        *ngIf="selectedFeature as f"
      >
        <!-- PLAY/PAUSE carousel -->
        <div
          class="absolute top-0 left-0 size-full z-20 flex flex-col justify-center items-center smooth"
          [ngClass]="{
            'scale-50': !carouselRunning,
          }"
        >
          <button
            class="size-72 hover:opacity-100 active:scale-95 rounded-full aspect-square shrink-0 opacity-0 group-hover/selectedItem:opacity-100 a bg-gray-900/50 text-white smooth flex justify-center items-center hover:scale-110"
            [ngClass]="{
              'opacity-100': !carouselRunning,
            }"
            (click)="carouselRunning ? stopCarousel() : startCarousel()"
          >
            @if (carouselRunning) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[50%]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 5.25v13.5m-7.5-13.5v13.5"
              />
            </svg>
            } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[50%]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z"
              />
            </svg>
            }
          </button>
        </div>
        <div
          class="absolute hidden lg:block bottom-0 left-auto lg:left-0 smooth"
        >
          <progress
            class="progress w-56"
            value="{{ nextFeatureTimer }}"
            max="100"
          ></progress>
        </div>
        <div
          class="space-y-2 mt-1 flex flex-col min-w-full text-wrap absolute lg:static"
        >
          <p
            class="text-center text-xl font-bold font-outfit"
            [innerHTML]="f.title"
          ></p>
          <span class="text-center mt-3 lg:mt-2 text-sm"
            ><p [innerHTML]="f.description"></p>
          </span>
        </div>
        <div class="flex">
          <div
            class="mockup-browser bg-gray-300/50 border border-gray-300/40 shrink w-full shadow-xl notify-shadow rounded-md hidden lg:block static"
          >
            <div class="mockup-browser-toolbar">
              <div class="input !bg-gray-200/50"></div>
            </div>
            <div class="bg-gray-100" #FeatureImgContainer>
              <img
                [ngSrc]="f.desktopImage"
                alt="Notify Features"
                loading="eager"
                class="w-full h-[50%]"
                width="{{ 4112 }}"
                height="{{ 2150 }}"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center -m-10 mt-10 lg:m-0">
          <div
            *ngIf="f.phoneImage as phoneImage"
            class="mockup-phone iphone-15-pro scale-[0.65] lg:scale-75 2xl:scale-75 shadow-lg lg:absolute lg:mt-0 -right-32 lg:-bottom-24"
          >
            <notify-mockup-fill></notify-mockup-fill>
            <div class="display">
              <img [src]="phoneImage" alt="Notify Features" class="size-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
