<div class="topnav-menu h-16 px-4 smooth" id="topnav">
  <!-- LOGO -->
  <img
    id="app-logo"
    src="https://s3-api.vps.notifyapp.it/assets/Primary%20Logo.png"
    alt=""
    class="h-8 lg:h-10 object-contain smooth left object-left cursor-pointer"
    routerLink="/"
  />

  <!-- DESKTOP MENU -->
  <div class="hidden lg:flex flex-1 justify-around items-center w-full">
    @for (item of menuItems; track $index) {
    <a
      href="{{ item.href }}"
      routerLinkActive="text-accent-color"
      class="font-medium font-outfit text-sm lg:text-base mx-4 smooth text-[#01396D] hover:underline whitespace-nowrap"
    >
      {{ item.label }}
    </a>
    <span class="last:hidden size-1 bg-[#01396D] p-0.5 rounded-full"></span>
    }
  </div>

  <!-- CART -->
  <div class="right flex justify-end right">
    @if (ecommerce.cart.items.length; as items) {
    <button
      (click)="CartClicked.emit()"
      id="filled-cart"
      class="relative drop-shadow-md smooth smooth-faster active:scale-95 brightness-110 text-accent-color"
    >
      <div
        class="absolute size-4 lg:size-6 bg-white border border-slate-300 rounded-full p-2 -top-2 -right-2 z-10 flex justify-center items-center font-medium font-outfit text-xs lg:text-base text-accent-color"
      >
        {{ items }}
      </div>
      <svg
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.312 7.94a1.49 1.49 0 0 0-1.062-.44h-3v-.75a5.25 5.25 0 1 0-10.5 0v.75h-3A1.5 1.5 0 0 0 2.25 9v10.125c0 1.828 1.547 3.375 3.375 3.375h12.75c.884 0 1.734-.346 2.366-.963a3.256 3.256 0 0 0 1.009-2.353V9a1.489 1.489 0 0 0-.438-1.06ZM8.25 6.75a3.75 3.75 0 0 1 7.5 0v.75h-7.5v-.75Z"
        ></path>
      </svg>
    </button>
    } @else {

    <svg
      class="text-gray-500"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.75 8.25A.75.75 0 0 0 3 9v10.125c0 1.418 1.207 2.625 2.625 2.625h12.75c1.418 0 2.625-1.149 2.625-2.566V9a.75.75 0 0 0-.75-.75H3.75Z"
        clip-rule="evenodd"
      ></path>
      <path
        d="M7.5 8.25v-1.5a4.5 4.5 0 0 1 4.5-4.5v0a4.5 4.5 0 0 1 4.5 4.5v1.5"
      ></path>
    </svg>

    }
  </div>

  <div class="ml-3 lg:hidden">
    <div class="drawer drawer-end">
      <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label for="mobile-drawer" class="cursor-pointer text-accent-color">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </label>
      </div>
      <div class="drawer-side">
        <label
          #DrawerClose
          for="mobile-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu bg-white text-base-content min-h-full w-[50%] p-4 items-end text-lg"
        >
          @for (item of menuItems; track $index) {
          <li>
            <a
              href="{{ item.href }}"
              class="menu-title text-base font-medium font-outfit text-[#01396D]"
              (click)="DrawerClose.click()"
            >
              {{ item.label }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
