.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  /*  where the real magic happens  */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  background: rgba(225, 225, 225, 0.05);

  mask-image: linear-gradient(
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  -webkit-mask-image: linear-gradient(
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  /* inset: -1rem 0; */
}

.topnav-menu {
  @apply relative flex justify-between items-center w-full z-10;
}

svg {
  @apply size-6 lg:size-10;
}
