<header class="max-content-width">
  <div class="flex justify-between w-full p-5 h-24">
    <a routerLink="/" class="h-32 w-32">
      <img
        src="https://s3-api.vps.notifyapp.it/assets/Primary%20Logo.png"
        alt=""
        class="w-full mx-auto lg:mx-0"
      />
    </a>

    <div class="flex justify-end w-5/12 space-x-2 items-center h-full">
      @for (item of options; track item.label) {
      <a
        [href]="item.path"
        data-theme="notifytheme"
        class="btn btn-link text-white no-underline"
      >
        {{ item.label }}
      </a>
      }
    </div>
  </div>
</header>
