.divider {
  @apply mx-5;
}
.hero-gradient {
  background: linear-gradient(
      25deg,
      rgba(132, 94, 194, 0.25) 8%,
      rgba(132, 94, 194, 0) 40.5%
    ),
    linear-gradient(
      336deg,
      rgba(3, 91, 234, 0.25) 8%,
      rgba(60, 0, 136, 0) 40.5%
    );
  --color-secondary: #845ec2;
  --color-primary: #035beb;
}

.hero-divider[data-v-b822103d] {
  background: linear-gradient(
    to right,
    rgba(132, 94, 194, 0.25) 0,
    rgba(3, 91, 234, 0.25) 50%
  );
  height: 1px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

.gradient-border[data-v-b822103d] {
  --gradient-y-offset: -200px;
  --gradient-x-offset: -200px;
  --height: 255px;
  overflow: hidden;
  position: relative;
  will-change: filter;
}
.gradient-border.gradient-border-left[data-v-b822103d],
.gradient-border.gradient-border-right[data-v-b822103d] {
  border-radius: 100%;
  filter: blur(36px);
  height: var(--height);
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: var(--gradient-y-offset);
  width: 61vw;
}
.gradient-border-left[data-v-b822103d] {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-secondary)
  );
  left: var(--gradient-x-offset);
}
.gradient-border-right[data-v-b822103d] {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary)
  );
  right: var(--gradient-x-offset);
}
