.divider {
  @apply mx-5;
}

.glassmorph {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.1); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
}

.main-circle {
  & *:not(.ignore-height) {
    height: 90lvh !important;
    transition: all 0.1s linear;
    /* background-color: red; */
  }
}
