@if (!(pageStable$ | async)) {
<div class="fixed w-screen h-screen top-0 left-0 bg-black z-[999]">
  <notify-loading></notify-loading>
</div>
}

<div
  class="w-full min-h-screen flex justify-center overflow-hidden scroll-smooth font-anek"
>
  <div class="h-full w-full flex flex-col">
    <notify-top-nav></notify-top-nav>

    <notify-splash
      id="splash"
      (componentStable)="splashSable$.next()"
    ></notify-splash>

    <notify-features id="features"></notify-features>

    <notify-contact-us id="contactus"></notify-contact-us>

    <notify-footer></notify-footer>
  </div>
</div>
