<div class="flex justify-center scroll-smooth font-mulish">
  <div
    class="fixed w-full h-full top-0 left-0 z-[999] bg-black smooth"
    [ngClass]="{
      'opacity-0 pointer-events-none': stable
    }"
  >
    <notify-loading></notify-loading>
  </div>
  <notify-cursor></notify-cursor>

  <div
    class="h-full w-full flex flex-col overflow-hidden scroll-smooth text-slate-900 bg-slate-50 px-5"
  >
    <!-- SPLASH E TOP NAV -->
    <div class="w-full h-full flex flex-col relative">
      <notify-top-nav></notify-top-nav>

      <notify-splash
        id="splash"
        (componentStable)="splashStable$.next()"
      ></notify-splash>
      <div class="divider"></div>

      <notify-profile-builder></notify-profile-builder>

      <div class="divider"></div>
      <notify-features
        id="features"
        (componentStable)="featuresStable$.next()"
      ></notify-features>
    </div>

    <div class="divider"></div>

    <notify-funded-by id="fundedby" class="mt-20"></notify-funded-by>
    <notify-partners id="partners"></notify-partners>

    <div class="divider"></div>

    <notify-questions></notify-questions>

    <notify-contact-us id="contactus" class="mt-20"></notify-contact-us>
    <notify-footer class="z-10"></notify-footer>
  </div>
</div>
