<div class="max-content-width relative">
  <div class="website-section">
    <h1 class="section-title">Jump in, senza stress.</h1>

    <div
      class="flex flex-col lg:flex-row justify-center lg:space-x-20 w-full lg:mt-20 h-full items-center"
    >
      <notify-spline-viewer
        sceneId="dk861HTC3-7031NY"
        class="w-full lg:w-5/12 h-full hidden lg:block -mr-5 -mb-5"
      ></notify-spline-viewer>
      <div
        class="w-10/12 lg:w-6/12 flex flex-col h-full min-h-[80vh] lg:min-h-[50vh] justify-around space-y-10 lg:-ml-10"
      >
        @for (item of steps; track $index) {
        <div class="flex flex-col w-full">
          <div class="flex space-x-5 lg:space-x-10 w-full items-center">
            <div
              class="intersect:animate-fade-right animate-ease-out smooth opacity-0 intersect:opacity-100 smooth"
            >
              <div
                class="font-ebGaramond text-center text-[14vh] w-20 text-secondary-500"
              >
                <b
                  [ngClass]="{
                    'blink -z-1': $index % 2 === 1
                  }"
                >
                  {{ $index + 1 }}
                </b>
              </div>
            </div>
            <span
              class="intersect:animate-fade-down animate-ease-out opacity-0 intersect:opacity-100 smooth space-y-2"
            >
              <h2 class="font-bold text-4xl font-outfit">
                {{ item.title }}
              </h2>
              <div
                class="flex space-x-2 text-xs lg:text-base"
                [innerHTML]="item.description"
              ></div>
            </span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
