<div class="flex justify-center font-poppins overflow-hidden z-20 bg-white">
  <div
    class="fixed w-full h-lscreen top-0 left-0 z-[999] bg-white smooth"
    [ngClass]="{
        'opacity-0 pointer-events-none':  pageStable$  | async,
      }"
  >
    <notify-loading></notify-loading>
  </div>

  <div class="fixed z-50 top-0 left-0 w-full">
    <notify-top-nav
      (CartClicked)="showCart()"
      class="topNav-container"
    ></notify-top-nav>
  </div>

  <div
    #CircleContainer
    class="flex flex-col items-stretch lg:items-center px-4 max-w-[100vw] text-slate-800 main-circle scroll-smooth scrollbar-none justify-between space-y-10"
  >
    <notify-profile-builder
      sectionTitle="Un piccolo assaggio."
      (componentStable)="builderStable$.next(true)"
      class="mt-20 h-full"
    ></notify-profile-builder>

    <h2 class="text-center font-figtree font-medium text-2xl text-slate-800">
      Oppure...
    </h2>

    <div class="max-content-width h-fit">
      <div class="flex space-y-2 lg:space-y-6 flex-col w-full items-center">
        <div class="space-y-1 flex flex-col w-full items-center">
          <button
            (click)="showProductDetail()"
            class="w-full font-bold p-4 rounded-2xl backdrop-blur-xl bg-slate-200/50 flex justify-center space-x-4 items-center text-secondary-500 active:scale-90 border-opacity-0 hover:border-opacity-100 border border-slate-400 disabled:pointer-events-none disabled:opacity-75 disabled:border-opacity-75 disabled:bg-slate-300/80 disabled:text-slate-500 lg:max-w-[50%] smooth text-2xl"
          >
            Rendilo reale.
          </button>
          <a
            class="text-center font-medium text-gray-500 z-10 text-xs"
            routerLink="/"
          >
            Non ti abbiamo ancora convinto? <br />
            <span class="link">
              Scopri Notify in tutte le sue funzionalità</span
            >
          </a>
        </div>
      </div>
    </div>

    <notify-footer
      class="z-10 ignore-height ignore-padding !w-screen -mb-5 lg:-mb-2"
    ></notify-footer>
  </div>
</div>
