PORT=3110
BUN_ENV=development

# EMAIL CONFIG
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_SECURE=your_smtp_secure
SMTP_USER=your_smtp_user
SMTP_FROM=your_smtp_from
SMTP_PASSWORD=your_smtp_password

DEBUG_EMAIL=your_debug_email

MONGO_URI=your_mongo_uri

JWT_KEY=your_jwt_key
API_KEY=your_api_key

S3_ACCESS_KEY=your_s3_access_key
S3_SECRET=your_s3_secret
S3_BUCKET=your_s3_bucket
S3_ENDPOINT=your_s3_endpoint
S3_SSL=your_s3_ssl

ENABLE_PIXEL_ROUTE=false
OPENAI_API_KEY=your_openai_api_key

FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY=your_firebase_private_key

PUBLIC_WEBSITE_URL=http://localhost:4200
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLIC_KEY=your_stripe_public_key