<div
  class="w-full sticky left-0 top-0 p-2 backdrop-blur-lg border-b border-ocra-primary/20 z-20"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    zoomAndPan="magnify"
    viewBox="0 100 375 170"
    class="size-16"
    preserveAspectRatio="xMidYMid meet"
    xmlns:v="https://vecta.io/nano"
  >
    <defs>
      <clipPath id="A">
        <path d="M4.895 234H81v77H4.895zm0 0" clip-rule="nonzero" />
      </clipPath>
      <clipPath id="B">
        <path d="M4.895 59.762H81V136H4.895zm0 0" clip-rule="nonzero" />
      </clipPath>
      <clipPath id="C">
        <path d="M179 59.762h77V136h-77zm0 0" clip-rule="nonzero" />
      </clipPath>
      <clipPath id="D">
        <path d="M230.137 166.516h42v42h-42zm0 0" clip-rule="nonzero" />
      </clipPath>
    </defs>
    <path
      d="M33.059 162.281v36.141c0 3.617 1.285 6.715 3.859 9.297 2.57 2.574 5.664 3.859 9.281 3.859h9.859v-39.437c0-2.738-.961-5.066-2.875-6.984s-4.246-2.875-6.984-2.875zM46.2 142.562c8.207 0 15.188 2.875 20.937 8.625s8.625 12.734 8.625 20.953v39.438L49.48 231.281h-3.281c-9.094 0-16.844-3.203-23.25-9.609s-9.609-14.156-9.609-23.25v-31.219zm78.862.001h19.719l-6.578 19.719h-26.281v36.141c0 3.617 1.285 6.715 3.859 9.297 2.57 2.574 5.664 3.859 9.281 3.859h19.719l-13.156 19.703h-6.562c-9.094 0-16.844-3.203-23.25-9.609s-9.609-14.156-9.609-23.25v-31.219zm29.573 0h3.281c3.945 0 7.535 1.07 10.766 3.203s5.609 4.961 7.141 8.469l11.672-11.672c6.352 0 11.773 2.246 16.266 6.734s6.734 9.914 6.734 16.266v6.578l-19.719 6.578v-13.156c0-.875-.328-1.641-.984-2.297s-1.422-.984-2.297-.984h-9.859v62.438l-19.719 6.563v-69h-9.859zm0 0"
      fill="#06444a"
    />
    <path
      d="M338.653 182.813l-23 17.25V205c0 1.867.629 3.43 1.891 4.688s2.82 1.891 4.688 1.891h16.422zm-6.562-40.25h3.281c6.352 0 11.773 2.246 16.266 6.734s6.734 9.914 6.734 16.266v46.016h9.859l-6.578 19.703h-3.281c-4.273 0-8.105-1.23-11.5-3.687-3.398-2.469-5.75-5.617-7.062-9.453l-17.578 13.141c-7.23 0-13.422-2.574-18.578-7.719-5.148-5.145-7.719-11.332-7.719-18.562v-4.937l32.859-24.641h9.859v-9.859c0-.875-.328-1.641-.984-2.297s-1.422-.984-2.297-.984H318.95v13.141L299.231 182v-14.797zm0 0"
      fill="#e89b14"
    />
    <g clip-path="url(#A)">
      <path
        fill="#06444a"
        d="M12.984 275.535v-40.852h-8.09v40.852a34.89 34.89 0 0 0 10.281 24.828c6.633 6.633 15.453 10.285 24.832 10.285h40.848v-8.094H40.008c-14.898 0-27.023-12.121-27.023-27.02"
      />
    </g>
    <g clip-path="url(#B)">
      <path
        fill="#06444a"
        d="M12.984 94.879c0-14.902 12.125-27.023 27.023-27.023h40.848v-8.094H40.008c-9.379 0-18.199 3.652-24.832 10.285A34.9 34.9 0 0 0 4.895 94.879v40.848h8.09V94.879"
      />
    </g>
    <g clip-path="url(#C)">
      <path
        fill="#06444a"
        d="M245.492 70.047c-6.633-6.633-15.449-10.285-24.828-10.285h-40.848v8.094h40.848c14.898 0 27.02 12.121 27.02 27.023v40.848h8.094V94.879c0-9.379-3.652-18.199-10.285-24.832"
      />
    </g>
    <path
      d="M247.684 275.535c0 14.898-12.121 27.02-27.02 27.02h-40.848v8.094h40.848c9.379 0 18.195-3.652 24.828-10.285s10.285-15.449 10.285-24.828v-40.852h-8.094v40.852m20.083-88.04c0 9.152-7.418 16.57-16.57 16.57a16.57 16.57 0 0 1-16.566-16.57 16.57 16.57 0 0 1 16.566-16.566c9.152 0 16.57 7.418 16.57 16.566"
      fill="#06444a"
    />
    <g clip-path="url(#D)">
      <path
        fill="#e89b14"
        d="M271.387 187.496a20.43 20.43 0 0 1-11.004 17.988c-6.789 3.527-15.172 2.691-21.281-1.816-6.145-4.531-9.113-12.418-7.754-19.887 1.336-7.352 6.883-13.422 13.988-15.609 6.109-1.883 12.84-.621 17.957 3.156 5.094 3.758 8.059 9.875 8.094 16.168.004.527.82.527.816 0-.039-7.242-3.789-13.977-9.914-17.84-6.191-3.91-14.191-4.141-20.687-.852-6.406 3.246-10.668 9.762-11.332 16.867-.676 7.242 2.648 14.352 8.418 18.703 5.863 4.418 13.891 5.309 20.637 2.496 6.59-2.746 11.387-8.855 12.586-15.879a21.4 21.4 0 0 0 .293-3.496c.004-.527-.812-.523-.816 0"
      />
    </g>
  </svg>
</div>
<div
  class="size-full min-h-screen gradienttob bg-ocra-background text-ocra-primary font-figtree overflow-hidden"
>
  <div class="max-content-width mb-10">
    <div class="website-section space-y-10">
      <div
        class="flex flex-col-reverse lg:flex-row justify-center lg:justify-around z-10 items-center h-full flex-wrap lg:flex-nowrap min-h-[90vh]"
      >
        <div class="flex flex-col items-center flex-wrap">
          <h1 class="section-title title-current" id="profile-builder">
            <span> Dove finiscono i tuoi biglietti da visita?</span>
          </h1>
          <h2 class="section-subtitle subtitle-current !mt-5">
            Nel portafoglio? Nella borsa? Persi per sempre? Con <b> ocr.a</b>,
            una foto e sono sempre con te.
          </h2>

          <div class="w-10/12 mt-10 lg:self-center">
            <notify-funded-by></notify-funded-by>
          </div>
        </div>
        <div class="flex justify-center items-center lg:size-11/12">
          <img
            src="/assets/ocra/mockup.webp"
            class="size-11/12 object-contain"
            alt=""
          />
        </div>
      </div>

      <img
        src="/assets/images/grid-pattern.webp"
        class="object-none size-full absolute pointer-events-none top-0 !z-0"
      />

      <div class="!items-start leading-loose space-y-20 website-section z-10">
        <!-- problemi biglietti da visita -->
        <section class="w-full justify-around">
          <div class="flex flex-col">
            <h2 class="section-title title-current">
              I biglietti da visita sono <span class="underline">datati</span>
            </h2>

            <p class="section-subtitle subtitle-current mt-5">
              Un’abitudine che non accenna a tramontare, ma che non è mai stata
              così poco pratica.
            </p>
          </div>

          <div class="text-center">
            <div
              class="flex justify-center items-center lg:items-start flex-col lg:flex-row space-y-[5rem] lg:space-y-0 lg:space-x-5"
            >
              <div class="flex flex-col items-center space-y-5 lg:w-1/3">
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-10"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <span>
                  <!-- litter -->
                  Si accumulano nelle tasche, nei portafogli e sulle scrivanie
                  senza un vero ordine, rendendo difficile ritrovare un contatto
                  quando serve.
                </span>
              </div>

              <div class="flex flex-col items-center space-y-5 lg:w-1/3">
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    class="size-10"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.625 12.75a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 1 1.5-1.5 2.43 2.43 0 0 1 2.438 2.438 3.375 3.375 0 0 1-3.376 3.374A4.313 4.313 0 0 1 7.125 12a5.25 5.25 0 0 1 5.25-5.25 6.178 6.178 0 0 1 6.188 6.188 7.125 7.125 0 0 1-7.125 7.124A8.062 8.062 0 0 1 3.374 12a9 9 0 0 1 9-9 9.947 9.947 0 0 1 9.938 9.938"
                    ></path>
                  </svg>
                </div>

                <span
                  ><!-- inefficient -->
                  Trascrivere manualmente nomi, numeri ed email richiede tempo
                  ed è soggetto a errori, con il rischio di perdere informazioni
                  importanti.</span
                >
              </div>

              <div class="flex flex-col items-center space-y-5 lg:w-1/3">
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    class="size-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17.835 3.192A8.179 8.179 0 0 0 12 .75C7.453.75 3.75 4.453 3.75 9v9.683c0 1.2.47 2.354 1.313 3.21A4.43 4.43 0 0 0 8.25 23.25c.934 0 1.925-.36 2.944-1.072a8.515 8.515 0 0 0 1.213-1.025C15.345 18.29 20.25 13.503 20.25 9a8.19 8.19 0 0 0-2.415-5.808Zm-.585 6.183h-1.5v-.75c0-1.86-1.682-3.375-3.75-3.375S8.25 6.764 8.25 8.625v1.425c1.29-.367 2.807-.31 3.012-.3a2.25 2.25 0 0 1 1.766 3.614c-.776.89-1.688 2.132-1.803 2.578l-.19.725-1.45-.381.19-.725c.258-.982 1.73-2.729 2.093-3.148a.75.75 0 0 0-.626-1.163H11.2c-.5-.027-2-.012-2.912.375l-.038.016V15h-1.5V8.625C6.75 5.937 9.105 3.75 12 3.75s5.25 2.187 5.25 4.875v.75Z"
                    ></path>
                  </svg>
                </div>

                <span>
                  <!-- obsolete -->
                  Un numero che cambia, un’azienda che si rinnova, e il
                  biglietto diventa immediatamente obsoleto. Condividerli con il
                  team o salvarli in rubrica non è immediato e spesso ci si
                  dimentica di farlo.
                </span>
              </div>
            </div>
          </div>
        </section>

        <!-- la soluzione -->
        <section class="space-y-20 justify-center">
          <div>
            <h2 class="section-title title-current mb-2">
              I biglietti da visita restano un simbolo...
            </h2>
            <p class="section-subtitle subtitle-current">
              ma oggi c’è un modo più intelligente per gestire i tuoi contatti.
            </p>
          </div>
          <div class="flex flex-col items-center w-full">
            <ul class="feature-list mt-20">
              <li>
                <a>✔</a>
                <p>
                  <strong>Veloce e preciso</strong> - con un'IA avanzata,
                  <b> ocr.a</b> è in grado di leggere e salvare automaticamente
                  tutte le informazioni di un biglietto, compresi indirizzo ed
                  eventuali social, senza bisogno di trascriverle a mano, anche
                  dalla peggiore delle foto.
                </p>
              </li>
              <li>
                <a>✔</a>
                <p>
                  <strong>Sempre accessibile, ovunque tu sia</strong> - Trova i
                  tuoi contatti quando ne hai bisogno, senza cercare tra vecchi
                  biglietti, fogli sparsi o screenshot disordinati.
                </p>
              </li>
              <li>
                <a>✔</a>
                <p>
                  <strong>Niente registrazioni complicate</strong> - Apri l’app,
                  scatta la foto, e hai già tutto pronto.
                </p>
              </li>
            </ul>
          </div>
        </section>

        <!-- per chi è pensato -->
        <section class="w-full flex flex-col justify-center items-center">
          <h2 class="section-title title-current mb-2">Per chi è pensato?</h2>
          <ul
            class="flex flex-col lg:inline-grid grid-cols-2 grid-rows-2 gap-4 justify-center items-center"
          >
            <li class="instruction-box box-transparent">
              <span class="box-title">💼</span>
              <span class="box-body">
                <strong class="">Professionisti e imprenditori</strong>
                <br />
                Networking senza pensieri: salva i contatti al volo e usali
                quando servono.
              </span>
            </li>
            <li class="instruction-box box-transparent">
              <span class="box-title">📢</span>
              <span class="box-body">
                <strong>Freelancer e creativi</strong> <br />Ogni connessione è
                un’opportunità, non rischiare di perderne nemmeno una.
              </span>
            </li>
            <li class="instruction-box box-transparent">
              <span class="box-title">🎯</span>
              <span class="box-body">
                <strong>Commerciali e venditori</strong> <br />Organizza
                facilmente i contatti acquisiti durante eventi, fiere o meeting.
              </span>
            </li>

            <li class="instruction-box box-transparent">
              <span class="box-title">🔍</span>

              <span class="box-body">
                <strong>Chiunque collezioni biglietti da visita.</strong>
                <br />
                Perché la memoria non basta, ma <b> ocr.a</b> sì.
              </span>
            </li>
          </ul>
        </section>

        <!-- come funziona -->
        <section class="relative">
          <h2 class="section-title title-current mb-2">Come funziona?</h2>

          <div
            class="flex flex-col lg:flex-row items-center justify-center space-y-4 lg:space-y-0 lg:space-x-4 w-full"
          >
            <div class="instruction-box">
              <p class="box-title">📷</p>
              <p class="box-body">
                <strong>Scatta una foto.</strong>
                <br />
                <span>
                  Usa la fotocamera del tuo smartphone per scattare una foto al
                  biglietto da visita o caricala dalla galleria.
                </span>
              </p>
            </div>

            <div class="instruction-box">
              <p class="box-title">🧠</p>
              <p class="box-body">
                <strong>Lascia fare a <b> ocr.a</b>.</strong>
                <br />
                <span>
                  L’IA leggerà e salverà automaticamente tutte le informazioni
                  utili.
                </span>
              </p>
            </div>

            <div class="instruction-box">
              <p class="box-title">🚀</p>
              <p class="box-body">
                <strong> Fatto! </strong>
                <br />
                <span>
                  con un tap, salva il contatto in rubrica, condividilo con il
                  tuo team o gestiscilo su <b> ocr.a</b>.
                </span>
              </p>
            </div>
          </div>
        </section>

        <!-- prova ocr.a -->
        <div class="w-full website-section">
          <h2 class="section-title title-current mb-2">
            <p>Prova <b> ocr.a</b> in anteprima!</p>
          </h2>
          <p class="text-center">
            <strong>Posti limitati per i primi tester.</strong> Non perdere
            l’occasione di provare <b> ocr.a</b> prima del lancio ufficiale,
            Inserisci un recapito e inizia subito ad usarlo subito, senza alcun
            impegno.
          </p>

          <div class="flex flex-col space-y-4 w-10/12 mx-auto lg:w-96 mt-8">
            <notify-tailwind-input
              [titlecaseLabel]="false"
              [cssClass]="inputElementsCss"
              name="name"
              label="Nome e Cognome"
              placeholder="Mario Rossi"
              [compact]="true"
              [parent]="leadForm"
              [validationErrors]="{
                required: ' '
              }"
            ></notify-tailwind-input>
            <notify-tailwind-input
              [titlecaseLabel]="false"
              [cssClass]="inputElementsCss"
              name="email"
              label="E-mail"
              type="email"
              placeholder="email@esempio.it"
              [compact]="true"
              [parent]="leadForm"
              [validationErrors]="{
                required: ' '
              }"
            ></notify-tailwind-input>

            <button
              class="confirm-lead-button smooth"
              [disabled]="!leadForm.value.email || !leadForm.value.name"
            >
              <p>Inizia ad usare <b>ocr.a</b></p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <notify-footer></notify-footer>
</div>
