<div
  class="size-full min-h-screen gradienttob bg-ocra-background text-ocra-primary font-figtree overflow-hidden"
>
  <div class="max-content-width mb-10">
    <div class="website-section space-y-10">
      <div
        class="flex flex-col lg:flex-row justify-center lg:justify-around z-10 items-center h-full flex-wrap lg:flex-nowrap min-h-[90vh] lg:space-x-10"
      >
        <div class="flex flex-col items-center flex-wrap">
          <img
            src="/assets/ocra/ocra.svg"
            class="size-72 mb-5 smooth intersect-animation intersect-once intersect:animate-fade-down"
          />
          <h1
            class="section-title title-current intersect-animation intersect-once intersect:animate-fade-down !animate-delay-150"
            id="profile-builder"
          >
            <span> Dove finiscono i tuoi biglietti da visita?</span>
          </h1>
          <h2
            class="section-subtitle subtitle-current !mt-5 intersect-animation intersect-once intersect:animate-fade-down !animate-delay-300"
          >
            Nel portafoglio? Nella borsa? Persi per sempre? Con <b> ocr.a</b>,
            una foto e sono sempre con te.
          </h2>

          <div
            class="w-10/12 mt-10 lg:self-center intersect-animation intersect-once intersect:animate-fade-down !animate-delay-500"
          >
            <notify-funded-by class="contrast-50"></notify-funded-by>
          </div>
        </div>
        <div
          class="flex justify-center items-center lg:size-11/12 smooth intersect-once intersect:animate-fade-left"
        >
          <img
            src="/assets/ocra/mockup-dark.svg"
            class="size-11/12 object-contain hidden lg:block"
            alt=""
          />
          <img
            src="/assets/ocra/mockup-dark-mobile.svg"
            class="size-11/12 object-contain lg:hidden"
            alt=""
          />
        </div>
      </div>

      <div class="!items-start leading-loose space-y-20 website-section z-10">
        <!-- problemi biglietti da visita -->
        <section class="w-full justify-around">
          <div
            class="flex flex-col intersect-animation intersect-once intersect:animate-fade-down"
          >
            <h2 class="section-title title-current">
              I biglietti da visita sono <span class="underline">datati</span>
            </h2>

            <p class="section-subtitle subtitle-current mt-5">
              Un’abitudine che non accenna a tramontare, ma che non è mai stata
              così poco pratica.
            </p>
          </div>

          <div class="text-center">
            <div
              class="flex justify-center items-center lg:items-start flex-col lg:flex-row space-y-[5rem] lg:space-y-0 lg:space-x-5"
            >
              <div
                class="flex flex-col items-center space-y-5 lg:w-1/3 intersect-animation intersect-once intersect:animate-fade-down"
              >
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-10"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <span>
                  <!-- litter -->
                  Si accumulano nelle tasche, nei portafogli e sulle scrivanie
                  senza un vero ordine, rendendo difficile ritrovare un contatto
                  quando serve.
                </span>
              </div>

              <div
                class="flex flex-col items-center space-y-5 lg:w-1/3 intersect-animation intersect-once intersect:animate-fade-down !animate-delay-150"
              >
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    class="size-10"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.625 12.75a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 1 1.5-1.5 2.43 2.43 0 0 1 2.438 2.438 3.375 3.375 0 0 1-3.376 3.374A4.313 4.313 0 0 1 7.125 12a5.25 5.25 0 0 1 5.25-5.25 6.178 6.178 0 0 1 6.188 6.188 7.125 7.125 0 0 1-7.125 7.124A8.062 8.062 0 0 1 3.374 12a9 9 0 0 1 9-9 9.947 9.947 0 0 1 9.938 9.938"
                    ></path>
                  </svg>
                </div>

                <span
                  ><!-- inefficient -->
                  Trascrivere manualmente nomi, numeri ed email richiede tempo
                  ed è soggetto a errori, con il rischio di perdere informazioni
                  importanti.</span
                >
              </div>

              <div
                class="flex flex-col items-center space-y-5 lg:w-1/3 intersect-animation intersect-once intersect:animate-fade-down !animate-delay-300"
              >
                <div class="p-4 rounded-full bg-ocra-primary/50 text-white">
                  <svg
                    class="size-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17.835 3.192A8.179 8.179 0 0 0 12 .75C7.453.75 3.75 4.453 3.75 9v9.683c0 1.2.47 2.354 1.313 3.21A4.43 4.43 0 0 0 8.25 23.25c.934 0 1.925-.36 2.944-1.072a8.515 8.515 0 0 0 1.213-1.025C15.345 18.29 20.25 13.503 20.25 9a8.19 8.19 0 0 0-2.415-5.808Zm-.585 6.183h-1.5v-.75c0-1.86-1.682-3.375-3.75-3.375S8.25 6.764 8.25 8.625v1.425c1.29-.367 2.807-.31 3.012-.3a2.25 2.25 0 0 1 1.766 3.614c-.776.89-1.688 2.132-1.803 2.578l-.19.725-1.45-.381.19-.725c.258-.982 1.73-2.729 2.093-3.148a.75.75 0 0 0-.626-1.163H11.2c-.5-.027-2-.012-2.912.375l-.038.016V15h-1.5V8.625C6.75 5.937 9.105 3.75 12 3.75s5.25 2.187 5.25 4.875v.75Z"
                    ></path>
                  </svg>
                </div>

                <span>
                  <!-- obsolete -->
                  Un numero che cambia, un’azienda che si rinnova, e il
                  biglietto diventa immediatamente obsoleto. Condividerli con il
                  team o salvarli in rubrica non è immediato e spesso ci si
                  dimentica di farlo.
                </span>
              </div>
            </div>
          </div>
        </section>

        <!-- la soluzione -->
        <section class="space-y-20 justify-center">
          <div
            class="intersect-animation intersect-once intersect:animate-fade-down"
          >
            <h2 class="section-title title-current mb-2">
              I biglietti da visita restano un simbolo...
            </h2>
            <p class="section-subtitle subtitle-current">
              ma oggi c’è un modo più intelligente per gestire i tuoi contatti.
            </p>
          </div>
          <div class="flex flex-col items-center w-full">
            <ul class="feature-list mt-20">
              <li
                class="intersect-animation intersect-once intersect:animate-fade-down"
              >
                <a>✔</a>
                <p>
                  <strong>Veloce e preciso</strong> - con un'IA avanzata,
                  <b> ocr.a</b> è in grado di leggere e salvare automaticamente
                  tutte le informazioni di un biglietto, compresi indirizzo ed
                  eventuali social, senza bisogno di trascriverle a mano, anche
                  dalla peggiore delle foto.
                </p>
              </li>
              <li
                class="intersect-animation intersect-once intersect:animate-fade-down"
              >
                <a>✔</a>
                <p>
                  <strong>Sempre accessibile, ovunque tu sia</strong> - Trova i
                  tuoi contatti quando ne hai bisogno, senza cercare tra vecchi
                  biglietti, fogli sparsi o screenshot disordinati.
                </p>
              </li>
              <li
                class="intersect-animation intersect-once intersect:animate-fade-down"
              >
                <a>✔</a>
                <p>
                  <strong>Niente registrazioni complicate</strong> - Apri l’app,
                  scatta la foto, e hai già tutto pronto.
                </p>
              </li>
            </ul>
          </div>
        </section>

        <!-- per chi è pensato -->
        <section class="w-full flex flex-col justify-center items-center">
          <h2
            class="section-title title-current mb-2 intersect-animation intersect-once intersect:animate-fade-down"
          >
            Per chi è pensato?
          </h2>
          <ul
            class="flex flex-col lg:inline-grid grid-cols-2 grid-rows-2 gap-4 justify-center items-center"
          >
            <li
              class="instruction-box box-transparent intersect-animation intersect-once intersect:animate-fade-down"
            >
              <span class="box-title">💼</span>
              <span class="box-body">
                <strong class="">Professionisti e imprenditori</strong>
                <br />
                Networking senza pensieri: salva i contatti al volo e usali
                quando servono.
              </span>
            </li>
            <li
              class="instruction-box box-transparent intersect-animation intersect-once intersect:animate-fade-down"
            >
              <span class="box-title">📢</span>
              <span class="box-body">
                <strong>Freelancer e creativi</strong> <br />Ogni connessione è
                un’opportunità, non rischiare di perderne nemmeno una.
              </span>
            </li>
            <li
              class="instruction-box box-transparent intersect-animation intersect-once intersect:animate-fade-down"
            >
              <span class="box-title">🎯</span>
              <span class="box-body">
                <strong>Commerciali e venditori</strong> <br />Organizza
                facilmente i contatti acquisiti durante eventi, fiere o meeting.
              </span>
            </li>

            <li
              class="instruction-box box-transparent intersect-animation intersect-once intersect:animate-fade-down"
            >
              <span class="box-title">🔍</span>

              <span class="box-body">
                <strong>Chiunque collezioni biglietti da visita.</strong>
                <br />
                Perché la memoria non basta, ma <b> ocr.a</b> sì.
              </span>
            </li>
          </ul>
        </section>

        <!-- come funziona -->
        <section class="relative bg-transparent">
          <h2
            class="section-title title-current mb-2 intersect-animation intersect-once intersect:animate-fade-down"
          >
            Come funziona?
          </h2>

          <div
            class="flex flex-col lg:flex-row items-center justify-center space-y-4 lg:space-y-0 lg:space-x-4 w-full"
          >
            <div
              class="instruction-box intersect-animation intersect-once intersect:animate-fade-down"
            >
              <p class="box-title">📷</p>
              <p class="box-body">
                <strong>Scatta una foto.</strong>
                <br />
                <span>
                  Usa la fotocamera del tuo smartphone per scattare una foto al
                  biglietto da visita o caricala dalla galleria.
                </span>
              </p>
            </div>

            <div
              class="instruction-box intersect-animation intersect-once intersect:animate-fade-down"
            >
              <p class="box-title">🧠</p>
              <p class="box-body">
                <strong>Lascia fare a <b> ocr.a</b>.</strong>
                <br />
                <span>
                  L’IA leggerà e salverà automaticamente tutte le informazioni
                  utili.
                </span>
              </p>
            </div>

            <div
              class="instruction-box intersect-animation intersect-once intersect:animate-fade-down"
            >
              <p class="box-title">🚀</p>
              <p class="box-body">
                <strong> Fatto! </strong>
                <br />
                <span>
                  con un tap, salva il contatto in rubrica, condividilo con il
                  tuo team o gestiscilo su <b> ocr.a</b>.
                </span>
              </p>
            </div>
          </div>
        </section>

        <!-- prova ocr.a -->
        <div class="w-full website-section">
          <h2
            class="section-title title-current mb-2 intersect-animation intersect-once intersect:animate-fade-down"
          >
            <p>Prova <b> ocr.a</b> in anteprima!</p>
          </h2>
          <p
            class="text-center intersect-animation intersect-once intersect:animate-fade-down"
          >
            <strong>Posti limitati per i primi tester.</strong> Non perdere
            l’occasione di provare <b> ocr.a</b> prima del lancio ufficiale,
            Inserisci un recapito e inizia subito ad usarlo, senza alcun impegno
            o costo.
          </p>

          <div
            class="flex flex-col space-y-4 w-10/12 mx-auto lg:w-96 mt-8 intersect-animation intersect-once intersect:animate-fade-down"
          >
            <notify-tailwind-input
              [titlecaseLabel]="false"
              [cssClass]="inputElementsCss"
              name="name"
              label="Nome e Cognome"
              placeholder="Mario Rossi"
              [compact]="true"
              [parent]="leadForm"
              [validationErrors]="{
                required: ' '
              }"
            ></notify-tailwind-input>
            <notify-tailwind-input
              [titlecaseLabel]="false"
              [cssClass]="inputElementsCss"
              name="email"
              label="E-mail"
              type="email"
              placeholder="email@esempio.it"
              [compact]="true"
              [parent]="leadForm"
              [validationErrors]="{
                required: ' '
              }"
            ></notify-tailwind-input>

            <button
              class="confirm-lead-button smooth"
              [disabled]="!leadForm.value.email || !leadForm.value.name"
            >
              <p>Inizia ad usare <b>ocr.a</b></p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <notify-footer></notify-footer>
</div>
